<li class="userstory-tab" ng-class="{active: ctrl.isActive('main')}"
    ng-click="ctrl.goTo('main')" i18next="admin.project-profile">
    Project profile
</li>
<li class="userstory-tab" ng-class="{active: ctrl.isActive('values')}"
    ng-click="ctrl.goTo('values')" i18next="admin.project-values">
    Project values
</li>

<li class="userstory-tab" ng-class="{active: ctrl.isActive('milestones')}"
    ng-click="ctrl.goTo('milestones')" i18next="admin.sprints">
    Sprints
</li>
<li class="userstory-tab" ng-class="{active: ctrl.isActive('roles')}"
    ng-click="ctrl.goTo('roles')"i18next="admin.roles">
    Roles
</li>
<li class="userstory-tab" ng-class="{active: ctrl.isActive('memberships')}"
    ng-click="ctrl.goTo('memberships')" i18next="admin.memberships">
    Memberships
</li>
