@import "bootstrap.less";
@import "greenmine-typografy.less";

/* Variables */

@green: #690;
@grayVeryLighter:       #f2f2f2;

@DroidSansRegular: 'DroidSansRegular';
@DroidSansBold: 'DroidSansBold';
@DroidSerifRegular: 'DroidSerifRegular';
@DroidSerifBold: 'DroidSerifBold';
@ArvoRegular: 'ArvoRegular';
@ArvoBold: 'ArvoBold';

@import "greenmine-generic.less";
@import "greenmine-header.less";
@import "greenmine-backlog.less";

/* Login */

body.login {
    background-color: @green;
}

#login {
    .center-box {
        margin: auto;
        padding-top: 20px;
        width: 370px;

        .logo-box {
            text-align: center;
        }
    }
    .form-container {
        margin-top: 10px;
        padding: 20px 20px 0px 20px;
        background: @white;
        .border-radius(15px);
        border: 2px solid @gray;

        input.btn01 {
            margin-top: 13px;
            width: 100px;
            background: none repeat scroll 0 0 #666666;
            color: #ffffff;
            border: 0px;
            .border-radius(4px);
            padding: 10px;
            font-family: @DroidSansBold;
        }

        input#id_password {
            margin-bottom: 0px;
        }

        p.forgot-pass {
            float: right;
        }

        p.forgot-pass a{
            color: #666666;
        }

        p.register {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #666666;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    input[type="text"], input[type="password"] {
        width: 310px;
    }
}

/* Project List */

body.projects {
    background-color: @gray;
}

.project-list {
    .list-item {
        color: @black;
        background-color: @white;
        .border-radius(6px);
        width: 800px;
        padding: 10px;
        font-size: 18px;
        margin-bottom: 6px;
        padding-left: 20px;

        .title {
            margin-right: 200px;
            line-height: 30px;
        }

        .meta {
            width: 200px;
        }

        .button {
            background: none repeat scroll 0 0 #666666;
            border: 0px;
            .border-radius(4px);
            font-family: @DroidSansBold;

            a {
                color: #ffffff;

            }
        }
    }
    .paginator-block {
        padding: 5px;
        color: @grayLighter;
    }
}
