@import "bootstrap.less";
@import "greenmine-typografy.less";

/* Variables */

@green: #690;
@grayVeryLighter:       #f2f2f2;

@DroidSansRegular: 'DroidSansRegular';
@DroidSansBold: 'DroidSansBold';
@DroidSerifRegular: 'DroidSerifRegular';
@DroidSerifBold: 'DroidSerifBold';
@ArvoRegular: 'ArvoRegular';
@ArvoBold: 'ArvoBold';

@import "greenmine-generic.less";

/* Backlog */

.dashboard {
    .tasks-container {
        .badge {
            color: black;
        }

        .badge-inprogress {
            background-color: #ff9900;
        }

        .badge-readytest {
            background-color: #ffcc00;
        }

        .badge-finish {
            background-color: #669900;
        }

        td.row-new-tasks {
            width: 19.5%;
            width: 16.66%;
            .task-box {
                background-color: #999;
            }
        }

        td.row-inprogress-tasks {
            width: 19.5%;
            width: 16.66%;
            .task-box {
                background-color: #ff9900;
            }
        }

        td.row-readytest-tasks {
            width: 19.5%;
            width: 16.66%;
            .task-box {
                background-color: #ffcc00;
            }
        }

        td.row-finished-tasks {
            width: 19.5%;
            width: 16.66%;
            .task-box {
                background-color: #669900;
            }
        }

        td.row-rejected-tasks {
            width: 19.5%;
            width: 16.66%;
            .task-box {
                background-color: #669900;
            }
        }

        td.row-us-description {
            width: 22%;
            width: 16.66%;
        }

        table { width: 100%; }

        .header {
            padding: 5px;
        }

        .body {
            background-color: #333;
            color: white;
            padding: 5px;

            table {
                border-top: 1px solid #333;
            }

            td.row-us-description {
                min-height: 200px;
                vertical-align: top;
                .description {
                    padding: 10px;
                }
            }

            td.row-new-tasks,
            td.row-inprogress-tasks,
            td.row-readytest-tasks,
            td.row-finished-tasks,
            td.row-rejected-tasks {
                background-color: #434343;
                vertical-align: top;
            }

            td.row-new-tasks,
            td.row-inprogress-tasks,
            td.row-readytest-tasks,
            td.row-finished-tasks {
                border-right: 1px solid #333;
            }

            /* Color definition */

            .tasks {
                padding: 3px;
                background-color: #434343;
                min-height: 100px;

                .task-box {
                    padding: 2px;
                    margin-bottom: 5px;

                    .task-box-content {
                        background-color: white;
                        color: black;

                        .title {
                            padding: 10px;
                            font-size: 11px;
                            line-height: 13px;
                        }
                        .buttons {
                            padding-left: 10px;
                            padding-bottom: 3px;
                            a {
                                color: #333;
                                text-decoration: none;
                                font-size: 11px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }

        }
    }

    .stats-container {
        overflow: hidden;
        padding: 10px;
        background-color: #666;

        .graphics-box {
            height: 200px;
            background-color: white;
        }

        .information-box {
            .info-header {
                padding: 10px;
                border-bottom: 1px solid black;

                font-family: Helvetica LT Std;

                .sprint-progress > div { float: left; }
                .sprint-progress {
                    overflow: hidden;

                    .progress {
                        width: 200px;
                        height: 25px;
                        border-radius: 90px;
                        margin-bottom: 0px;
                        .bar {
                            background-color: #669900;
                            background-image: none;
                        }
                    }
                    .indicator {
                        margin-left: 10px;
                        font-size: 28px;
                        color: #FFFFFF;
                        line-height: 25px;
                    }
                    .help {
                        margin-left: 10px;
                        font-size: 10px;
                        color: #EEE;
                        line-height: 11px;
                    }
                }
            }
            .info-rows {
                font-family: Helvetica LT Std;

                .row-item {
                    display: -webkit-box;
                    -webkit-box-orient: horizontal;
                    border-bottom: 1px solid black;
                    padding: 7px;

                    .row-label {
                        font-size: 18px;
                        color: #eee;
                        width: 80px;
                    }
                    .row-indiator {
                        margin-left: 10px;
                        font-size: 28px;
                        color: #FFFFFF;
                        line-height: 25px;
                    }

                    .row-help {
                        margin-left: 10px;
                        font-size: 10px;
                        color: #EEE;
                        line-height: 11px;
                    }
                }

                .row-item > div {
                    padding: 5px;
                }
            }
        }
    }
}

.backlog {
    .first-row {
        margin-top: 10px;
    }

    .graphincs-container {
        .user-story-stats {
            background-color: #666;
            color: #eee;
            padding: 10px;
            overflow: hidden;

            .progress-box > div { float: left; }
            .progress-box {
                float: left;
                overflow: hidden;
                line-height: 26px;
                margin-right: 10px;

                .progress {
                    width: 200px;
                    margin-right: 10px;
                    height: 24px;
                    border-radius: 60px;
                    margin-bottom: 0px;
                }

                .progress-indicator {
                    font-family: Helvetica LT Std;
                    font-size: 28px;
                    font-weight: bold;
                    font-style: normal;
                    text-decoration: none;
                    color: #FFFFFF;
                    margin-right: 5px;
                }

                .progress-help {
                    font-family: Helvetica LT Std;
                    font-size: 10px;
                    font-weight: normal;
                    font-style: normal;
                    text-decoration: none;
                    color: #EEE;

                    width: 67px;
                    line-height: 11px;
                }
            }

            .stats-box {
                overflow: hidden;
                line-height: 26px;
                float: left;

                .item > div { float: left; }
                .item {
                    margin-right: 25px;
                    float: left;
                    .indicator {
                        font-family: Helvetica LT Std;
                        font-size: 28px;
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none;
                        color: #FFFFFF;
                        margin-right: 5px;
                    }

                    .help {
                        font-family: Helvetica LT Std;
                        font-size: 10px;
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;
                        color: #EEE;

                        width: 57px;
                        line-height: 11px;
                    }
                }

            }
        }
        .show-hide-graphics {
            font-size: 12px;
            background-color: #888;
            padding-right: 5px;
            padding-left: 5px;
            a {
                color: white;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .filters-container {
        margin-top: 10px;
        .ui-state-highlight,
        .ui-sortable-placeholder {
            background-color: red;
        }

        .filters-visual-box {
            overflow: hidden;
            padding: 10px;

            .tags-list-sbox {
                overflow: hidden;

                .tag > div { float: left; }
                .tag {
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;
                    background-color: #f2f2f2;
                    float: left;
                    width: 150px;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    padding: 5px;

                    font-family: Helvetica LT Std;
                    font-size: 13px;
                    font-weight: normal;
                    font-style: normal;
                    text-decoration: none;
                    color: #333333;

                    &.selected {
                        background-color: #669900;
                        color: #eee;
                    }
                    .icon {
                        margin-right: 5px;
                    }
                    .count {
                        position: absolute;
                        top: 5px;
                        right: 10px;
                    }
                }
            }
        }

        .filters-bar-sbox {
            background-color: #666;
            color: #eee;
            padding: 5px;
            padding-left: 15px;
            overflow: hidden;
            line-height: 25px;

            .title-sbox {
                float: left;
                a {
                    color: #eee;
                }
            }

            .buttons-sbox {
                float: right;
            }
        }

        .user-story-form-sbox {
            background-color: #f2f2f2;
            border: 1px solid #666;
            padding: 10px;

            textarea {
                width: 98.5%;
                height: 120px;
            }

            form {
                margin-bottom: 0px;
            }

            fieldset:nth-child(2) {
                margin-top: 10px;
            }
        }
    }

    .us-container {
        margin-top: 10px;

        .us-table-list {
            .flex-header {
                display: -webkit-box;
                -webkit-box-orient: horizontal;
                border-bottom: 2px solid #666666;
            }

            .flex-header > div:nth-child(1) {
                -webkit-box-flex: 1;
            }
            .flex-header > div {
                padding: 5px;
            }

            .flex-body {
                min-height: 40px;
                .us-item {
                    display: -webkit-box;
                    -webkit-box-orient: horizontal;
                    margin-top: 2px;
                    margin-bottom: 2px;
                    border-bottom: 1px solid #eee;
                    &:hover {
                        background-color: #f9f9f9;
                        border-bottom: 1px solid #f9f9f9;
                    }
                }
                .us-item > div:nth-child(1) {
                    -webkit-box-flex: 1;
                }
                .us-item > div {
                    padding: 5px;
                }
            }

            .us-title {
                .label {
                    margin-left: 5px;
                }
            }

            .us-points {
                width: 50px;
                text-align: center;
            }

            .us-priority {
                width: 70px;
            }
            .us-options {
                width: 100px;
            }
        }
    }

    .milestones {
        .header-box {
            overflow: hidden;
            padding: 5px;
            background-color: #666;
            color: #eee;

            .title-sbox > div { float: left; }
            .title-sbox {
                float: left;
                overflow: hidden;
                .title {
                    float: left;
                    font-family: Helvetica LT Std;
                    font-size: 28px;
                    font-weight: bold;
                    font-style: normal;
                    text-decoration: none;
                    color: #FFFFFF;
                    margin-right: 5px;
                    line-height: 25px;
                }

                .help {
                    font-family: Helvetica LT Std;
                    font-size: 10px;
                    font-weight: normal;
                    font-style: normal;
                    text-decoration: none;
                    color: #eee;

                    width: 57px;
                    line-height: 11px;
                }
            }
            .buttons-sbox {
                float: right;
            }
        }

        .milestone-form-box {
            background-color: #f2f2f2;
            border: 1px solid #666;
            padding: 10px;

            fieldset {
                overflow: hidden;
                padding-bottom: 10px;

                div.subfield {
                    float: left;
                    margin-right: 20px;

                    input[type="date"] {
                        width: 117px;
                    }
                }
            }

            form {
                margin-bottom: 0px;
            }

            .btn-group {
                margin-top: 20px;
            }
        }

        .sprints-box {
            margin-top: 10px;

            .sprint-sbox {
                .header {
                    background-color: #666;

                    .title {
                        font-family: Helvetica LT Std;
                        font-size: 14px;
                        font-weight: bold;
                        font-style: normal;
                        text-decoration: none;
                        color: #FFFFFF;

                        padding: 5px;
                        padding-bottom: 0px;
                    }

                    .stats {
                        padding: 5px;
                        padding-bottom: 0px;
                        color: white;
                        overflow: hidden;

                        .sprint-progress > div { float: left; }
                        .sprint-progress {
                            margin-right: 30px;
                            float: left;
                            overflow: hidden;


                            .progress {
                                height: 9px;
                                border-radius: 60px;
                                width: 80px;
                                margin-top: 5px;
                                margin-right: 5px;
                                margin-bottom: 0px;
                            }

                            .progress-indicator {
                                font-family: Helvetica LT Std;
                                font-size: 14px;
                                font-weight: bold;
                                font-style: normal;
                                text-decoration: none;
                                color: #FFFFFF;
                            }
                        }

                        .sprint-status {
                            overflow: hidden;
                            float: left;

                            .item > div { float: left; }
                            .item {
                                float: left;
                                overflow: hidden;

                                .indicator {
                                    font-family: Helvetica LT Std;
                                    font-size: 14px;
                                    font-weight: bold;
                                    font-style: normal;
                                    text-decoration: none;
                                    color: #FFFFFF;
                                    margin-right: 4px;
                                }
                                .help {
                                    font-family: Helvetica LT Std;
                                    font-size: 10px;
                                    font-weight: normal;
                                    font-style: normal;
                                    text-decoration: none;
                                    color: #eee;

                                    width: 57px;
                                    vertical-align: bottom;
                                    line-height: 19px;
                                }
                            }
                        }
                    }
                }

                .body {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    background-color: #666;
                    margin-bottom: 5px;

                    .us-list {
                        background-color: #f9f9f9;

                        .us-table-list {
                            .flex-body {
                                min-height: 20px;
                                .us-item {
                                    display: -webkit-box;
                                    -webkit-box-orient: horizontal;
                                    border-bottom: 1px solid #c9c9c9;
                                }
                                .us-item > div:nth-child(1) {
                                    -webkit-box-flex: 1;
                                }
                                .us-item > div {
                                    padding: 5px;
                                }
                            }

                            .us-points {
                                width: 50px;
                                text-align: center;
                            }

                            .us-priority {
                                width: 70px;
                            }
                        }


                    }
                }
            }
        }
    }
}


/* Header */

.header-container {
    background-color: @green;
    height: 105px;
    border-bottom: 2px solid @black;
    color: @grayDarker;

    .header-row {
        margin-top: 7px;
    }

    a {
        color: @grayDarker;
    }
    .header-row {
        .logo-box {
            float: left;
        }

        .title-box {
            line-height: 55px;
            padding-left: 10px;
            margin-left: 0px;
            color: white;
            font-size: 26px;
            display: inline-block;

            .title-item {
                line-height: 15px;
                display: inline-block;
            }

            .separator {
                line-height: 10px;
                color: @gray;
                font-weight: bold;
                width: 11px;
                height: 16px;

                display: inline-block;

            }
        }
        .title-item{
            a {
                color: white;
            }
            a:hover {
                color: #444;
                text-decoration: none;
            }
        }
    }
    .right-top-menu {
        font-weight: bold;

        a {
            text-decoration: underline;
        }
    }

    .header-menu {
        padding: 10px;
        margin-top: 5px;

        ul {
            padding: 0px;
            margin: 0px;
            font-size: 14px;
            font-family: @DroidSansBold;

            li {
                display: inline;
                padding-right: 25px;
            }

            li a {
                color: white;

            }
            li.selected a {
                color: @black;
            }
        }
    }
}


/* Login */

body.login {
    background-color: @green;
}

#login {
    .center-box {
        margin: auto;
        padding-top: 20px;
        width: 370px;

        .logo-box {
            text-align: center;
        }
    }
    .form-container {
        margin-top: 10px;
        padding: 20px 20px 0px 20px;
        background: @white;
        .border-radius(15px);
        border: 2px solid @gray;

        input.btn01 {
            margin-top: 13px;
            width: 100px;
            background: none repeat scroll 0 0 #666666;
            color: #ffffff;
            border: 0px;
            .border-radius(4px);
            padding: 10px;
            font-family: @DroidSansBold;
        }

        input#id_password {
            margin-bottom: 0px;
        }

        p.forgot-pass {
            float: right;
        }

        p.forgot-pass a{
            color: #666666;
        }

        p.register {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid #666666;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    input[type="text"], input[type="password"] {
        width: 310px;
    }
}

/* Project List */

body.projects {
    background-color: @gray;
}

.project-list {
    .list-item {
        color: @black;
        background-color: @white;
        .border-radius(6px);
        width: 800px;
        padding: 10px;
        font-size: 18px;
        margin-bottom: 6px;
        padding-left: 20px;

        .title {
            margin-right: 200px;
            line-height: 30px;
        }

        .meta {
            width: 200px;
        }

        .button {
            background: none repeat scroll 0 0 #666666;
            border: 0px;
            .border-radius(4px);
            font-family: @DroidSansBold;

            a {
                color: #ffffff;

            }
        }
    }
    .paginator-block {
        padding: 5px;
        color: @grayLighter;
    }
}

.hidden {
    display: none;
}
