<div class="header-container container-fluid" ng-include="'partials/header.html'"></div>
<div class="middle-container container-fluid backlog">
    <div class="row-fluid first-row">
        <div class="span8">
            <div class="graphincs-container">
                <div class="user-story-stats" url="">
                    <div class="progress-box">
                        <div class="progress progress-success">
                            <div class="bar" style="width: {{ completedPercentage }}%;"></div>
                        </div>
                        <div class="progress-indicator indicator">{{ completedPercentage }}%</div>
                        <div class="progress-help help">completed points</div>
                    </div>
                    <div class="stats-box">
                        <div class="item">
                            <div class="indicator">{{ totalPoints }}</div>
                            <div class="help">total <br />points</div>
                        </div>

                        <div class="item">
                            <div class="indicator">{{ assignedPoints }}</div>
                            <div class="help">assigned points</div>
                        </div>

                        <div class="item">
                            <div class="indicator">{{ notAssignedPoints }}</div>
                            <div class="help">not assigned points</div>
                        </div>
                    </div>
                </div>
                <div class="graph-box">
                    <div id="graphs">
                        <div id="burndown" url="">
                            <div id="burndown-graph" style="display:none"></div>
                        </div>
                        <div id="burnup" url="">
                            <div id="burnup-graph" style="display:none"></div>
                        </div>
                    </div>
                </div>
                <div class="show-hide-graphics"><a href="#" >Show graphics</a></div>
            </div>

            <div class="filters-container">
                <div class="filters-visual-box" ng-show="filtersOpened">
                    <div class="tags-list-sbox">
                        <div class="tag" ng-repeat="tag in tags" ng-click="selectTag(tag)"
                                ng-class="{selected: tag.selected}" gm-colorize-tag>
                            <div class="icon">
                                <i class="icon-remove icon-white" ng-hide="!tag.selected"> </i>
                            </div>
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </div>
                <div class="filters-bar-sbox">
                    <div class="title-sbox">
                        <i class="icon-chevron-down" ng-hide="filtersOpened"></i>
                        <i class="icon-chevron-up" ng-hide="!filtersOpened"></i>

                        <a href="" ng-click="filtersOpened=!filtersOpened">Filters</a>
                    </div>
                    <div class="buttons-sbox">
                        <a class="btn btn-small" ng-click="usFormOpened=!usFormOpened">New user story</a>
                    </div>
                </div>

                <div class="user-story-form-sbox" ng-show="usFormOpened">
                    <form class="form-horizontal" ui-parsley="usSubmit()">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Points</label>
                            <div class="controls">
                                <select name="status" ng-model="form.priority">
                                    <option ng-repeat="id in constants.points"
                                        ng-selected="isSameAs('priority', id)" value="{{ id }}">{{ id }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Assigned to</label>
                            <div class="controls">
                                <select name="status" ng-model="udform.assigned_to">
                                    <option ng-repeat="dev in developers"
                                        ng-selected="isSameAs('assigned_to', dev.id)" value="{{ dev.id }}">{{ dev.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Subject</label>
                            <div class="controls">
                                <input class="input-subject" type="text" ng-model="form.subject"></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Tags</label>
                            <div class="controls">
                                <input type="text" name="status" value="" ng-model="form.tags" ui-select2></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Description</label>
                            <div class="controls">
                                <textarea ng-model="form.description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" class="btn btn-success" value="Save" />
                                <a href="" class="btn" ng-click="usFormOpened=false">Close</a>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="filters-selected-box"></div>
            </div>

            <div class="us-container">
                <div class="us-table-list">
                    <div class="flex-header">
                        <div class="us-title">User Story</div>
                        <div class="us-points">Points</div>
                        <div class="us-options">Options</div>
                    </div>
                    <div class="flex-separator"></div>
                    <div class="flex-body" ui-sortable=".sprints-box .flex-body" ng-model="unassingedUs">
                        <div class="us-item" ng-repeat="us in unassingedUs|orderBy:'order'|onlyVisible"
                                ui-sortable-index="{{$index}}" ng-controller="BacklogUserStoryController">
                            <div class="us-title">
                                <span class="tags">
                                    <span ng-repeat="tag in us.tags" class="label" gm-colorize-tag>{{ tag }}</span>
                                </span>
                                <span class="title">{{ us.subject|truncate:80 }}</span>
                            </div>
                            <div class="us-points"><a href="" gm-points-popover="saveUserStory(us)">{{ us.points }}</a></div>
                            <div class="us-options">
                                <a class="btn btn-mini btn-success"><i class="icon-eye-open icon-white"></i></a>
                                <a class="btn btn-mini btn-success"><i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-mini btn-danger"><i class="icon-remove icon-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="milestones span4">
            <div class="header-box">
                <div class="title-sbox">
                    <div class="title">5</div>
                    <div class="help">sprints <br />planned</div>
                </div>
                <div class="buttons-sbox">
                    <a href="" class="btn btn-small" ng-click="sprintFormOpened=!sprintFormOpened">New sprint</a>
                </div>
            </div>

            <div class="milestone-form-box" ng-show="sprintFormOpened">
                <form action="" ui-parsley="sprintSubmit()">
                    <fieldset>
                        <label>Sprint name:</label>
                        <input type="text" data-required="true" placeholder="Sprint name..."></input>
                    </fieldset>

                    <fieldset>
                        <div class="subfield">
                            <label>Estimated start:</label>
                            <input type="date" data-required="true"></input>
                        </div>
                        <div class="subfield">
                            <label>Estimated finish</label>
                            <input type="date" data-required="true"></input>
                        </div>
                    </fieldset>
                    <div class="btn-group">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <a href="" class="btn" ng-click="sprintFormOpened=false">Close</a>
                    </div>
                </form>
            </div>

            <div class="sprints-box">
                <div class="sprint-sbox" ng-repeat="ml in milestones">
                    <div class="header">
                        <div class="title"><a href="{{ urls.dashboardUrl(projectId, ml.id) }}">{{ ml.name }}</a></div>
                        <div class="stats">
                            <div class="sprint-progress">
                                <div class="progress progress-success">
                                    <div class="bar" style="width: 20%"></div>
                                </div>
                                <div class="progress-indicator">20%</div>
                            </div>
                            <div class="sprint-status">
                                <div class="item">
                                    <div class="indicator">30.5</div>
                                    <div class="help">total</div>
                                </div>
                                <div class="item">
                                    <div class="indicator">15</div>
                                    <div class="help">completed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="us-list">
                            <div class="us-table-list">
                                <div class="flex-body" ui-sortable=".us-container .flex-body"
                                        ng-model="milestones[$index].user_stories">
                                    <div class="us-item" ng-repeat="us in ml.user_stories">
                                        <div class="us-title">{{ us.subject|truncate:50 }}</div>
                                        <div class="us-points">{{ us.points }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialogs hidden">
        <div class="points-popover" id="points-popover">
            <div class="item" ng-repeat="p in constants.points">
                <a class="btn btn-mini" data-id="{{ p }}">{{ p }}</a>
            </div>
        </div>
    </div>
</div>
