<div id="login">
    <div class="center-box">
        <div class="logo-box">
            <a href="#/login">
                <img src="/img/logo.png"></img>
            </a>
        </div>
        <div class="form-container recovery-forms-box">
            <form method="post" action="" gm-checksley-form="ctrl.submit()">
                <fieldset ng-hide="tokenInParams">
                    <div class="form-field">
                        <label i18next="login.token">Token:</label>
                        <input type="text" ng-model="formData.token" />
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-field">
                        <label i18next="login.new-password">New password</label>
                        <input type="password" ng-model="formData.password" data-minlength="6" />
                    </div>
                </fieldset>

                <fieldset class="form-field clearfix">
                    <input class="btn01" type="submit" value="Change" gm-checksley-submit-button i18next="value:login.change"/>
                </fieldset>

                <div class="login-message">
                    <p class="loading" ng-show="!error && success">
                        <span class="loading-ico"></span>
                        <span i18next="login.password-change-success">
                            Password changed successful.
                        </span>
                    </p>
                    <p class="error" ng-show="error">{{ errorMessage }}</p>
                </div>
            </form>
        </div>
    </div>
</div>
