<!--
<span class="separator"> &rsaquo; </span>
<span class="title-item"><a href="{{ project.get_backlog_url }}">{{ project.name }}</a></span>
<span class="separator"> &rsaquo; </span>
<span class="title-item">Dashboard</span>
-->

<div class="header-container" ng-include="'partials/header.html'"></div>
<div class="middle-container">
    <div class="main-box">
        <div id="milestone-dashboard" class="dashboard" data-api-url="{% url 'dashboard-api' pslug=project.slug %}">
            <div class="top-box" id="dashboard-stats" data-api-url="{{ milestone.get_stats_url }}">
                <div class="sprint-stats right" id="sprint-stats">
                    <div class="stats-box">
                        <div class="stats-row">
                            <div class="stats-large left">
                                <progress value="0" max="100"></progress>
                            </div>
                            <div class="stats-large-value left">
                                <span class="value" id="stats-total-percentage">85%</span>
                                <span class="help-text">{% trans "completed" %}</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="stats-row">
                            <div class="stats-title left">{% trans "Points" %}</div>
                            <div class="stats-value1 left">
                                <span class="value" id="stats-total-points">120</span>
                                <span class="help-text">{% trans "total points" %}</span>
                            </div>
                            <div class="stats-value2 left">
                                <span class="value" id="stats-completed-points">100</span>
                                <span class="help-text">{% trans "completed points" %}</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="stats-row">
                            <div class="stats-title left">{% trans "User Stories" %}</div>
                            <div class="stats-value1 left">
                                <span class="value" id="stats-us-total">120</span>
                                <span class="help-text">{% trans "total user stories" %}</span>
                            </div>
                            <div class="stats-value2 left">
                                <span class="value" id="stats-us-completed">100</span>
                                <span class="help-text">{% trans "completed user stories" %}</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="stats-row">
                            <div class="stats-title left">{% trans "Tasks" %}</div>
                            <div class="stats-value1 left">
                                <span class="value" id="stats-tasks-total">120</span>
                                <span class="help-text">{% trans "total tasks" %}</span>
                            </div>
                            <div class="stats-value2 left">
                                <span class="value" id="stats-tasks-completed">100</span>
                                <span class="help-text">{% trans "completed tasks" %}</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div id="sprint-burndown" show="on" class="sprint-burndown-container">
                    <div id="sprint-burndown-graph" style="display:none"></div>
                </div>
            </div>

            <div class="middle-box">
                <div class="middle-header">
                    <div class="userstory-description left"></div>
                    <div class="userstory-tasks">
                        <table>
                            <tr>
                                <th class="status status-new">
                                    <div class="status-title-wrapper bg-new">{% trans "New" %}</div>
                                </th>
                                <th class="status status-progress">
                                    <div class="status-title-wrapper bg-progress">{% trans "In progress" %}</div>
                                </th>
                                <th class="status status-completed">
                                    <div class="status-title-wrapper bg-completed">{% trans "Ready for test" %}</div>
                                </th>
                                <th class="status status-closed">
                                    <div class="status-title-wrapper bg-closed">{% trans "Closed" %}</div>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="middle-body userstory-list">
                </div>
            </div>
        </div>

        <!--
        <div class="new-task-lightbox new-task-dialog dialog"
            data-url="{% url 'dashboard-api-create-task' pslug=project.slug %}"
            id="new-task-lightbox" style="display: none">
            <div class="dialog-container">
                <div class="dialog-title">{% trans "New task" %}</div>
                <div class="dialog-text">
                    <p>For <strong>user story:</strong></p>
                    <p>Listado de pedidos (wireframe: Perfil Tus pedidos una entrega, Tus pedidos una entrega y este es el resto de la user story. Si es muy larga ponemos puntos suspensivos.</p>
                </div>
                <div class="dialog-content">
                    <section class="newtask-formset">
                        <section class="formset-item">
                            <h4>{% trans "Task subject" %}</h4>
                            <textarea></textarea>
                        </section>
                    </section>
                </div>
                <div class="dialog-buttons">
                    <div class="button-gray left">
                        <a href="#" class="accept-lightbox">{% trans "Ok" %}</a>
                    </div>
                    <div class="button-gray left">
                        <a href="#" class="close-lightbox">{% trans "Cancelar" %}</a>
                    </div>
                    <div class="button plus right">+</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
