<div class="task-box-content" gm-user-popover="saveTask(task)" ng-controller="DashboardTaskController">

    <div class="title">{{ task.subject }}</div>

    <div class="assign-to" ng-show="task.assigned_to">
        {{ task.assigned_to.name }}
    </div>
    <div class="assign-to" ng-show="!task.assigned_to">
        <a href="">Unassigned</a>
    </div>
    <p class="desc">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed 
    </p>
</div>
