<div class="header-container container-fluid" ng-include="'/partials/header.html'"></div>
<div class="middle-container container-fluid dashboard">
    <div class="row-fluid first-row stats-row">
        <div class="span12">
            <div class="stats-container">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="graphics-box"></div>
                    </div>
                    <div class="span4">
                        <div class="information-box">
                            <div class="info-header">
                                <div class="sprint-progress">
                                    <div class="progress">
                                        <div class="bar" style="width: {{ stats.percentageCompletedPoints }}%"></div>
                                    </div>

                                    <div class="indicator">{{ stats.percentageCompletedPoints }}%</div>
                                    <div class="help">completed<br />points</div>
                                </div>
                            </div>
                            <div class="info-rows">
                                <div class="row-item">
                                    <div class="row-label">Points</div>
                                    <div class="row-indiator">{{ stats.totalPoints }}</div>
                                    <div class="row-help">total <br />points</div>
                                    <div class="row-indiator">{{ stats.completedPoints }}</div>
                                    <div class="row-help">completed <br />points</div>
                                </div>

                                <div class="row-item">
                                    <div class="row-label">U Stories</div>
                                    <div class="row-indiator">{{ stats.totalUss }}</div>
                                    <div class="row-help">total <br />user stories</div>
                                    <div class="row-indiator">{{ stats.compledUss }}</div>
                                    <div class="row-help">completed <br />user stories</div>
                                </div>

                                <div class="row-item">
                                    <div class="row-label">Tasks</div>
                                    <div class="row-indiator">{{ stats.totalTasks }}</div>
                                    <div class="row-help">total <br />tasks</div>
                                    <div class="row-indiator">{{ stats.completedTasks }}</div>
                                    <div class="row-help">completed <br />tasks</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid first-row">
        <div class="span12">
            <div class="tasks-container">
                <div class="header">
                    <table>
                        <tbody>
                            <tr>
                                <td class="row-us-description" style="width: {{ 100/(statuses.length+1) }}%"></td>
                                <td class="" ng-repeat="status in statuses|orderBy:'order'" style="width: {{ 100/(statuses.length+1) }}%">
                                    <div class="badge" style="background-color: {{ status.color }}">{{ status.name }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="body" gm-newtask-modal=".row-us-description .new-task">
                    <table ng-repeat="us in userstories" ng-controller="DashboardUserStoryController">
                        <tbody>
                            <tr>
                                <td class="row-us-description" style="width: {{ 100/(statuses.length+1) }}%">
                                    <div class="info">
                                        <div class="title">{{ us.subject }}</div>
                                        <div class="description">
                                            <p>Helvetica keffiyeh consectetur, nesciunt biodiesel letterpress Austin pickled pour-over non aesthetic scenester sunt. Aesthetic brunch deserunt, beard flannel deep v pork belly laborum mollit tofu godard hoodie selvage semiotics. Esse kale chips viral eiusmod, officia selfies chambray nihil fugiat banjo culpa mlkshk id commodo beard.</p>
                                        </div>
                                    </div>
                                    <div class="options">
                                        <ul>
                                            <li><i class="icon-plus-sign icon-white"></i>
                                                <a href="" class="new-task">New task</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="col-task-status col-task-{{ status.name|slugify }}"
                                        ng-repeat="status in statuses|orderBy:'order'"
                                        style="width: {{ 100/(statuses.length+1) }}%">

                                    <div class="tasks" ui-sortable=".tasks-container .body .tasks" ng-model="usTasks[us.id][status.id]">
                                        <div class="task-box" ng-repeat="task in usTasks[us.id][status.id]"
                                            ng-include="'/partials/dashboard-task.html'"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="dialogs hidden">
        <div class="developers-popover" id="developers-popover">
            Select a developer:
            <ul>
                <li><a href="" data-dev-id="">Unassigned</a>
                <li ng-repeat="dev in developers">
                    <a href="" data-dev-id="{{ dev.id }}">{{ dev.name }}</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="new-task-modal modal hide fade" id="new-task-modal">
        <div class="form-container">
        <form ui-parsley="createNewTask()">
            <h4>Create new tasks:</h4>
            <p>Put one task title per line. You can use some indicators to automaticaly
            put the task in some state.</p>
            <ul>
                <li><b>!inprogress</b> as a firt word in a line, indicates that task must be
                    created on "inprogress" state.</li>
            </ul>

            <fieldset>
                <input type="hidden" value="" class="us-id" ng-model="newtaskForm.usId"></input>
                <textarea ng-model="newtaskForm.tasks"></textarea>
            </fieldset>

            <div class="buttons">
                <input type="submit" class="btn btn-success" value="Save"></input>
                <a class="btn cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>
