<div class="header-box">
    <div class="logo-sbox">
        <a class="greenmine-logo" href="{{ urls.projectsUrl() }}" title="greenmine">Greenmine</a>
        <a class="user" href="" title="{{ auth.email }}">{{ auth.email }}</a>
    </div>
    <div class="top-menu-sbox">
        <a class="logout" href="" ng-click="logout()">Logout</a>
    </div>
</div>
<div class="nav" gm-header-menu>
    <ul>
        <li class="backlog"><a href="{{ urls.backlogUrl(projectId) }}" title="Backlog">Backlog</a></li>
        <li class="dashboard" ng-show="sprintId"><a href="{{ urls.taskboardUrl(projectId, sprintId) }}" title="Taskboard">Taskboard</a></li>
        <li class="issues"><a href="{{ urls.issuesUrl(projectId) }}" title="Issues">Issues</a></li>
        <li class="wiki"><a href="{{ urls.wikiUrl(projectId, 'home') }}" title="wiki">Wiki</a></li>
        <li class="questions"><a href="{{ urls.questionsUrl(projectId) }}" title="questions">Questions</a></li>
        <!--
        <li class="search"><a href="" title="search">Search</a></li>
        -->
        <li class="admin"><a href="" title="Administration panel">Admin</a></li>
    </ul>

    <div class="search-box">
        <input type="text" name="search" placeholder="Search..." />
    </div>
</div>
<div class="breadcrumb">
    <div class="header-path" gm-breadcrumb></div>
</div>
<div class="flash-message" gm-flash-message>
    <div class="flash-message-success hidden">
        <p>¡Genial! Aquí va el mensaje de confirmación </p>
    </div>
    <div class="flash-message-fail hidden">
        <p>¡Ops! Esto es embarazoso, parece que algo ha salido mal... </p>
    </div>
</div>
