<div class="header-box">
    <div class="logo-sbox">
        <a class="greenmine-logo" href="{{ urls.projectsUrl() }}" title="greenmine">Greenmine</a>
        <a class="user" href="" title="{{ auth.email }}">{{ auth.email }}</a>
    </div>
    <div class="top-menu-sbox">
        <a class="logout" data-icon="p" href="" ng-click="logout()">Logout</a>
    </div>
</div>
<div class="nav" gm-header-menu ng-show="projectId">
    <ul>
        <li class="backlog"><a data-icon="f" href="{{ urls.backlogUrl(projectId) }}" title="Backlog">Backlog</a></li>
        <li class="dashboard" ng-show="sprintId"><a data-icon="n" href="{{ urls.taskboardUrl(projectId, sprintId) }}" title="Taskboard">Taskboard</a></li>
        <li class="issues"><a data-icon="a" href="{{ urls.issuesUrl(projectId) }}" title="Issues">Issues</a></li>
        <li class="wiki"><a data-icon="g" href="{{ urls.wikiUrl(projectId, 'home') }}" title="wiki">Wiki</a></li>
        <!--
        <li class="questions"><a href="{{ urls.questionsUrl(projectId) }}" title="questions">Questions</a></li>
        <li class="search"><a href="" title="search">Search</a></li>
        -->
        <li class="admin"><a data-icon="i" href="{{ urls.adminUrl(projectId) }}" title="Administration panel">Admin</a></li>
    </ul>

    <div class="search-box" gm-search-box>
        <form method="get">
            <input type="text" name="search" placeholder="Search..." ng-model="term" />
        </form>
    </div>
</div>
<div class="breadcrumb">
    <div class="header-path" gm-breadcrumb></div>
</div>
<div class="flash-message" gm-flash-messages></div>