<div class="row-fluid">
    <div class="span12">
        <div class="header-box">
            <div class="logo-sbox">
                <a href=""><img width="180" src="img/logo.png" /></a>
            </div>
            <div class="header-path" gm-breadcrumb></div>
            <div class="top-menu-sbox">
                <div class="menu-item">
                    <i class="icon-user"></i> <a href="">{{ auth.fullname }}</a>
                </div> |
                <div class="menu-item">
                    <i class="icon-remove-sign"></i> <a href="">Logout</a>
                </div>
            </div>
        </div>
        <div class="menu-box" gm-header-menu>
            <ul>
                <li class="backlog"><a href=""><i class="icon-th-list"></i> Backlog</a></li>
                <li class="dashboard" style="display: none"><a href=""><i class="icon-th"></i> Dashboard</a></li>
                <li class="bugs"><a href=""><i class="icon-list-alt"></i> Bugs</a></li>
                <li class="wiki"><a href=""><i class="icon-book "></i> Wiki</a></li>
                <li class="search"><a href=""><i class="icon-search "></i> Search</a></li>
                <li class="admin"><a href=""><i class="icon-asterisk "></i> Admin</a></li>
            </ul>
        </div>
    </div>
</div>
