<div class="header-container" ng-include="'/partials/header.html'"></div>
<div class="middle-container container-fluid issues-view">
    <div class="row-fluid">
        <div class="span12">
            <div class="view-header">
                <div class="title">Issue #{{ issue.id }}</div>
                <div class="buttons">
                    <a class="btn btn-mini" ng-click="updateFormOpened=true">Update issue</a>
                    <a class="btn btn-mini">Delete issue</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span8">
            <div class="view-body">
                <div class="tags-box">
                    <div class="label" ng-repeat="tag in issue.tags" gm-colorize-tag>{{ tag }}</div>
                </div>

                <div class="title-box">
                    <h4>{{ issue.subject }}</h4>
                </div>
                <div class="description-box">
                    <p>{{ issue.description }}</p>
                </div>
            </div>
        </div>
        <div class="span4">
        </div>
    </div>

    <div class="row-fluid" ng-show="issue.history">
        <div class="span12">
            <div class="history">
                <h3>History</h3>

                <ul class="history-items">
                    <li class="history-item" ng-repeat="h in issue.history">
                        <div class="title">By: {{ h.by }} on {{ h.modified_date }}</div>
                        <div class="changes" gm-issue-changes></div>
                        <div class="comment" ng-show="h.comment">
                            <strong>Commend:</strong><br />{{ h.comment }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row-fluid" ng-show="updateFormOpened">
        <div class="span12">
            <div class="update-form">
                <h4>Update issue</h4>

                <form class="form-horizontal" ui-parsley="save()">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Status</label>
                        <div class="controls">
                            <select name="status" ng-model="form.status">
                                <option ng-repeat="obj in constants.statusList"
                                    ng-selected="isSameAs('status', obj.id)" value="{{ obj.id }}">{{ obj.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Priority</label>
                        <div class="controls">
                            <select name="status" ng-model="form.priority">
                                <option ng-repeat="obj in constants.priorityList"
                                    ng-selected="isSameAs('priority', obj.id)" value="{{ obj.id }}">{{ obj.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Assigned to</label>
                        <div class="controls">
                            <select name="status" ng-model="form.assigned_to">
                                <option ng-repeat="dev in developers"
                                    ng-selected="isSameAs('assigned_to', dev.id)" value="{{ dev.id }}">{{ dev.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Tags</label>
                        <div class="controls">
                            <input type="text" name="status" value="" ng-model="form.tags" ui-select2></input>
                        </div>
                    </div>
                    <div class="control-group" ng-hide="_showHiddenGroups">
                        <div class="controls">
                            <p style="cursor: pointer" ng-click="_showHiddenGroups=true">Edit <b>Subject</b> and <b>Description</b>...</p>
                        </div>
                    </div>
                    <div class="control-group" ng-show="_showHiddenGroups">
                        <label class="control-label" for="inputEmail">Subject</label>
                        <div class="controls">
                            <input type="text" ng-model="form.subject"></input>
                        </div>
                    </div>
                    <div class="control-group" ng-show="_showHiddenGroups">
                        <label class="control-label" for="inputEmail">Description</label>
                        <div class="controls">
                            <textarea ng-model="form.description"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Comment</label>
                        <div class="controls">
                            <textarea ng-model="form.comment"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Attachment</label>
                        <div class="controls">
                            <input type="file" name="attachment" gm-file ng-model="attachment"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="view-footer">
                <div class="title">Issue #{{ issue.id }}</div>
                <div class="buttons">
                    <a class="btn btn-mini" ng-click="updateFormOpened=true">Update issue</a>
                    <a class="btn btn-mini">Delete issue</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="change-template">
        <div class="change">
            <strong><%= name %></strong>:
                <span class="old"><%= oldValue %></span> &gt;
                <span class="new"><%= newValue %></span>
        </div>
    </script>
</div>
