<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container issues-view">
    <div class="view-header">
        <p class="title">Issue #{{ issue.ref }}</p>
        <div class="buttons">
            <a class="button button-delete" ng-click="removeIssue(issue)">Delete issue</a>
        </div>
    </div>
    <ul class="tags-list">
        <li class="tag" ng-repeat="tag in issue.tags" gm-colorize-tag>{{ tag }}</li>
    </ul>
    <div class="row-fluid issue-data">
        <div class="span8 issue-data-description">
            <h2>{{ issue.subject }}</h2>
            <p>{{ issue.description }}</p>
            <div class="attachments" ng-show="attachments">
                <h3>Attachments</h3>
                <ul class="attachments-items">
                    <li class="attachments-item" ng-repeat="attachment in attachments">
                        <a href="{{ attachment.url }}">{{ attachment.attached_file }}</a>
                        <span>on {{ attachment.created_date|momentFormat:"LLL" }}</span>
                        <a href="" ng-click="removeAttachment(attachment)">(remove)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span4 issue-metadata">
            <div class="info-header">
                <h3>Issue data</h3>
            </div>
            <ul class="info-rows">
                <li>Added by: <span>{{ constants.users[issue.owner].username }}</span></li>
                <li>Assigned to: <span>{{ constants.users[issue.assigned_to].username }}</span></li>
                <li>Date: <span>{{ issue.modified_date|momentFormat:"LLL" }}</span></li>
                <li>Updated: <span>{{ issue.modified_date|momentFormat:"LLL" }}</span></li>
                <li class="priority-{{ issue.priority }}">Priority: <span>{{ constants.priorities[issue.priority].name }}</span></li>
                <li class="status-{{ issue.status }}">Status: <span>{{ constants.issueStatuses[issue.status].name }}</span></li>
                <li>Attachments: <span>{{ attachments.length }}</span></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid" ng-show="issue.history">
        <div class="span12">
            <div class="history">
                <h3>History</h3>
                <div class="history-items-container" ng-model="issue.history" gm-issue-history></div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="update-form">
                <h4>Update issue</h4>

                <form class="form-horizontal" gm-checksley-form="submit()">
                    <div>
                        <fieldset class="issue-status">
                            <label class="control-label" for="inputEmail">Status</label>

                            <select class="status" name="status" ng-model="form.status" data-required="true"
                                data-type="number" data-error-message="Required"
                                ng-options="c.id as c.name for c in constants.issueStatusesList|orderBy:'order'"></select>
                            </select>
                        </fieldset>

                        <fieldset class="issue-priority">
                            <label>Priority</label>

                            <select class="priority status" name="priority" ng-model="form.priority" data-required="true"
                                data-type="number" data-error-message="Required"
                                ng-options="c.id as c.name for c in constants.prioritiesList|orderBy:'order'"></select>
                            </select>
                        </fieldset>
                    </div>

                    <div>
                        <fieldset class="issue-assigned">
                            <label>Assigned to</label>

                            <select class="assigned-to" name="priority" ng-model="form.assigned_to"
                                data-type="number" data-error-message="Required"
                                ng-options="c.id as c.username for c in constants.usersList|orderBy:'order'"></select>
                            </select>
                        </fieldset>

                        <fieldset class="issue-tags">
                            <label>Tags</label>
                            <input type="text" name="status" value="" ng-model="form.tags" gm-tags-input></input>
                        </fieldset>
                    </div>

                    <div ng-hide="_showHiddenGroups">
                        <p style="cursor: pointer" ng-click="_showHiddenGroups=true">Edit <b>Subject</b> and <b>Description</b>...</p>
                    </div>

                    <fieldset class="issue-subject" ng-show="_showHiddenGroups">
                        <label for="inputEmail">Subject</label>
                        <input type="text" ng-model="form.subject"></input>
                    </fieldset>

                    <fieldset class="issue-description" ng-show="_showHiddenGroups">
                        <label for="inputEmail">Description</label>
                        <textarea ng-model="form.description"></textarea>
                    </fieldset>

                    <fieldset class="issue-comment">
                        <label for="inputEmail">Comment</label>
                        <textarea ng-model="form.comment"></textarea>
                    </fieldset>

                    <fieldset class="issue-attachment">
                        <a class="add-attachment" data-icon="E" title="Add Attachment" href="">Add Attachments</a>
                        <input type="file" class="hidden" name="attachment" gm-file ng-model="attachment" />
                    </fieldset>

                    <fieldset class="issue-edit-submit">
                        <button type="submit" class="button button-edit" gm-checksley-submit-button>Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="view-footer">
                <p class="title">Issue #{{ issue.id }}</p>
                <div class="buttons">
                    <a class="button button-delete">Delete issue</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/angular-template" id="change-template">
        <ul class="history-items">
            <li class="history-item" ng-repeat="hitem in historyItems">
                <div class="title">
                    <span class="updated">Updated by {{ hitem.by }}</span>
                    <span class="date">{{ hitem.modified_date|momentFormat:"LLL" }}</span>
                </div>
                <div class="changes">
                    <div class="change" ng-repeat="change in hitem.changes">
                        <strong>{{ change.name }}</strong>:
                        <span class="old">{{ change.old }}</span> &gt;
                        <span class="new">{{ change.new }}</span>
                    </div>
                </div>
                <div class="comment" ng-show="hitem.comment">
                    <strong>Comment:</strong><br />{{ hitem.comment }}
                </div>
            </li>
        </ul>
    </script>
</div>