<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container issues-content">
    <div class="new-issue">
        <a class="new-button" gm-modal="#new-issue-modal"
           ng-click="openCreateIssueForm()" data-icon="a">New issue</a>
        <a class="refresh-button" ng-click="refreshIssues()" data-icon="x">Refresh</a>
        <a class="graphs-button" data-icon="k" ng-click="toggleShowGraphs()">Graphs</a>
        <a class="tags-button" data-icon="f" ng-click="showTags = !showTags">Tags</a>
    </div>
    <div class="graph-box" ng-show="showGraphs">
        <div class="graph-container">
            <p>Bugs by status</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_status"></div>
        </div>
        <div class="graph-container">
            <p>Bugs by severity</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_severity"></div>
        </div>
        <div class="graph-container">
            <p>Bugs by priority</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_priority"></div>
        </div>
        <div class="graph-container">
            <p>Bugs by owner</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_owner"></div>
        </div>
        <div class="graph-container">
            <p>Bugs by assigned to</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_assigned_to"></div>
        </div>
    </div>
    <div class="graph-box" ng-show="showGraphs">
        <div class="graph-container lines">
            <p>Open issues by severity progression</p>
            <div class="graph" gm-issues-accumulated-graph="issuesStats.last_four_weeks_days.by_severity"></div>
        </div>
        <div class="graph-container lines">
            <p>Open issues by priority progression</p>
            <div class="graph" gm-issues-accumulated-graph="issuesStats.last_four_weeks_days.by_priority"></div>
        </div>
    </div>
    <div class="graph-box" ng-show="showGraphs">
        <div class="graph-container lines">
            <p>Open/Closed issues per day</p>
            <div class="graph" gm-issues-open-closed-graph="issuesStats.last_four_weeks_days.by_open_closed"></div>
        </div>
    </div>
    <div class="filters-container">
        <div class="filters-bar-sbox">
            <div class="title-sbox">
                <div class="title">
                    <a data-icon="B" href="" ng-class="{active: filtersOpened}" ng-click="filtersOpened=!filtersOpened">Filters</a>
                </div>

                <div class="tags-list-sbox">
                    <div class="tag selected" style="background: {{ tag.color }}" ng-repeat="tag in selectedTags"
                         ng-click="selectTag(tag)">
                        <div class="name"
                            ng-hide="tag.type == 'assigned-to' || tag.type == 'owner'">
                            {{ tag.name }}
                        </div>
                        <div class="name"
                            ng-show="tag.type == 'assigned-to' || tag.type == 'owner'"
                            gm-colorize-user="constants.users[tag.id]">
                            {{ tag.name }}
                        </div>
                        <div class="count">{{ tag.count }}</div>
                    </div>
                </div>
            </div>
            <ul class="filters-visual-box" ng-show="filtersOpened">
                <li>
                    <h3>Status:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" style="background-color: {{ tag.color }}" ng-repeat="tag in statusTags"
                             ng-click="selectTag(tag)" ng-class="{selected: isTagSelected(tag)}">
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Severity:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" style="background-color: {{ tag.color }}" ng-repeat="tag in severityTags"
                             ng-click="selectTag(tag)" ng-class="{selected: isTagSelected(tag)}" >
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Priority:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" style="background-color: {{ tag.color }}" ng-repeat="tag in priorityTags"
                             ng-click="selectTag(tag)" ng-class="{selected: isTagSelected(tag)}">
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Added by:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" ng-repeat="tag in addedByTags" ng-click="selectTag(tag)"
                                ng-class="{selected: isTagSelected(tag)}">
                            <div class="name" gm-colorize-user="constants.users[tag.id]">
                                {{ tag.name }}
                            </div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Assigned to:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" ng-repeat="tag in assignedToTags" ng-click="selectTag(tag)"
                                ng-class="{selected: isTagSelected(tag)}">
                            <div class="name" gm-colorize-user="constants.users[tag.id]">
                                {{ tag.name }}
                            </div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3>Tags:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" ng-repeat="tag in tags" ng-click="selectTag(tag)"
                                ng-class="{selected: isTagSelected(tag)}" gm-colorize-tag>
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <div class="filters-selected-box"></div>
    </div>

    <div class="issues-container">
        <div class="issues-table-list">
            <div class="flex-header" gm-issues-sort="changeSort(field, reverse)">
                <div data-field="severity" class="issue-sortable-field issue-severity">Severity</div>
                <div data-field="subject" class="issue-sortable-field issue-title">Subject</div>
                <div data-field="added_by" class="issue-sortable-field issue-added-by">Added by</div>
                <div data-field="created_date" class="issue-sortable-field issue-created-date">Created date</div>
                <div data-field="modified_date" class="issue-sortable-field issue-modified-date">Modified date</div>
                <div data-field="status" class="issue-sortable-field issue-state">Status</div>
                <div data-field="priority" class="issue-sortable-field issue-priority">Priority</div>
                <div data-field="assigned_to" class="issue-sortable-field issue-assigned-to">Assigned to</div>

                <div class="issue-options">Options</div>
            </div>
            <div class="flex-separator"></div>
            <div class="flex-body">
                <div class="empty" ng-show="issues.length == 0">
                    There aren't issues to show.
                </div>
                <div class="issue-item" ng-repeat="issue in issues">
                    <div class="issue-severity">
                        <a href="" gm-popover="updateIssueSeverity(issue, selectedId)"
                            data-tmpl="#severity-popover" data-auto-hide="true"
                                class="severity-{{ constants.severities[issue.severity].name|lowercase }}">
                            {{ constants.severities[issue.severity].name|lowercase }}
                        </a>
                    </div>
                    <div class="issue-title">
                        <span class="title">{{ issue.subject }}</span>
                        <div class="tags" ng-show="showTags">
                            <span ng-repeat="tag in issue.tags" class="label" gm-colorize-tag>{{ tag }}</span>
                        </div>
                    </div>

                    <div class="issue-added-by">
                        <span gm-colorize-user="constants.users[issue.owner]">
                             {{ constants.users[issue.owner].full_name }}
                        </span>
                    </div>

                    <div class="issue-created-date">
                        <span>{{ issue.created_date|momentFormat:"lll" }}</span>
                    </div>

                    <div class="issue-modified-date">
                        <span>{{ issue.modified_date|momentFormat:"lll" }}</span>
                    </div>
                    <div class="issue-state">
                        <a href="" gm-popover="updateIssueStatus(issue, selectedId)"
                            data-tmpl="#status-popover" data-auto-hide="true">{{ constants.issueStatuses[issue.status].name }}</a>
                    </div>
                    <div class="issue-priority">
                        <a href="" gm-popover="updateIssuePriority(issue, selectedId)"
                            class="priority-{{ constants.priorities[issue.priority].name|lowercase }}"
                                    data-tmpl="#priority-popover" data-auto-hide="true">{{ constants.priorities[issue.priority].name }}</a>
                    </div>
                    <div class="issue-assigned-to">
                        <div class="button-item" ng-show="issue.assigned_to" >
                            <i class="icon-user"></i>
                            <a href="" gm-popover="updateIssueAssignation(issue, selectedId)" data-tmpl="#developers-popover" data-auto-hide="true">
                               <span gm-colorize-user="constants.users[issue.assigned_to]">
                                   {{ constants.users[issue.assigned_to].full_name }}
                               </span>
                            </a>
                        </div>
                        <div class="button-item" ng-show="!issue.assigned_to">
                            <i class="icon-question-sign"></i>
                            <a href="" gm-popover="updateIssueAssignation(issue, selectedId)" data-tmpl="#developers-popover" data-auto-hide="true">
                                <span>Unassigned</span>
                            </a>
                        </div>
                    </div>
                    <div class="issue-options extra-options">
                        <a data-icon="l" class="btn-small-preview" gm-popover
                                data-tmpl="#issue-preview-popover"
                                data-auto-hide="true"
                                data-placement="left">
                            <span class="help-box">Preview</span>
                        </a>
                        <a data-icon="j" class="btn-small-edit" href="{{ urls.issuesUrl(projectId, issue.id) }}">
                            <span class="help-box">Edit</span>
                        </a>
                        <a data-icon="h" class="btn-small-remove" gm-popover="removeIssue(issue)"
                                data-tmpl="#issue-remove-popover"
                                data-auto-hide="true"
                                data-placement="left">
                            <span class="help-box">Remove</span>
                        </a>
                    </div>
                </div>
            </div>
            <div gm-paginator></div>
        </div>
    </div>
</div>
<div ng-show="formOpened" ng-controller="IssuesFormController">
    <div class="new-issue-modal modal">
        <form class="inline-form issue-form" gm-checksley-form="submit()">
            <div class="modal-header">
                <h3>New issue:</h3>
            </div>
            <div class="modal-body">
                <fieldset class="fieldset-row">
                    <label>Subject</label>
                    <input name="subject" class="subject" type="text" data-required="true"
                        ng-model="form.subject" data-maxlength="500"></input>
                </fieldset>
                <div class="fieldset-row">
                    <fieldset class="type">
                        <label>Type</label>
                        <select name="type" ng-model="form.type" data-required="true"
                            data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.issueTypesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset class="priority">
                        <label>Priority</label>
                        <select name="priority" ng-model="form.priority"
                            data-required="true" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.prioritiesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset class="severity">
                        <label>Severity</label>
                        <select name="severity" ng-model="form.severity"
                            data-required="true" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.severitiesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset class="status">
                        <label>Status</label>
                        <select name="status" ng-model="form.status" data-required="true"
                            data-type="number" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.issueStatusesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset class="assigned-to">
                        <label>Assigned to</label>
                        <select name="assigned_to"
                                ng-model="form.assigned_to" data-type="number"
                                data-error-message="Required"
                                ng-options="c.user as c.full_name for c in project.memberships">
                            <option value="">Unassigned</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Tags</label>
                        <input type="text" class="tags" name="tags" value="" ng-model="form.tags" gm-tags-input></input>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label>Description</label>
                        <textarea name="description" class="description" ng-model="form.description"></textarea>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <div gm-spinner class="spinner-container"></div>
                <input type="submit" gm-checksley-submit-button class="button button-success" value="Save" />
                <a href="" class="button button-cancel" ng-click="close()">Close</a>
            </div>
        </form>
    </div>
</div>

<script type="text/template" id="issue-preview-popover">
    <div class="issue-preview-popover">
        <section>
            <strong>ID:</strong> #{{ issue.ref }}
        </section>
        <section>
            <strong>Created by:</strong><br />
            <span gm-colorize-user="constants.users[issue.owner]">{{ constants.users[issue.owner].full_name }}</span>
        </section>
        <section>
            <strong>Subject:</strong><br />{{ issue.subject }}
        </section>
        <section>
            <strong>Description:</strong>
            <p>{{ issue.description }}</p>
        </section>
    </div>
</script>

<script type="text/template" id="issue-remove-popover">
    <div class="issue-remove-popover">
        <section>
            <p>Are you sure you want to delete this user story:
                <strong>{{ issue.subject }}</strong></p>
        </section>
        <section>
            <input type="button" class="button button-success" value="Delete" />
            <input type="button" class="button button-delete" value="Cancel" />
        </section>
    </div>
</script>

<script type="text/template" id="developers-popover">
    <div class="developers-popover">
        <p class="title">Select a user:</p>
        <ul>
            <li><a class="btn-accept" href="">Unassigned</a>
            <li ng-repeat="obj in project.memberships">
                <a class="btn-accept" href="" data-id="{{ obj.user }}"
                   gm-colorize-user="constants.users[obj.user]">{{ obj.full_name }}</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="severity-popover">
    <div class="severity-popover">
        <p class="title">Select severity:</p>
        <ul>
            <li ng-repeat="obj in constants.severitiesList">
                <a class="btn-accept" data-id="{{ obj.id }}" href="">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="priority-popover">
    <div class="priority-popover">
        <p class="title">Select priority:</p>
        <ul>
            <li ng-repeat="obj in constants.prioritiesList">
                <a href="" data-id="{{ obj.id }}" class="btn-accept">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="status-popover">
    <div class="status-popover">
        <p class="title">Select status:</p>
        <ul>
            <li ng-repeat="obj in constants.issueStatusesList">
                <a href="" data-id="{{ obj.id }}" class="btn-accept">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>
