<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container issues-content">
    <div class="new-issue">
        <a class="button new-button" gm-modal="#new-issue-modal"
           ng-click="openCreateIssueForm()" data-icon="a" i18next="issues.new-issue">New issue</a>
        <a class="button refresh-button" ng-click="refreshIssues()" data-icon="x"
            ng-class="{active: refreshing}" i18next="issues.refresh">Refresh</a>
        <a class="button graphs-button" data-icon="k" ng-click="toggleShowGraphs()"
            ng-class="{'active': showGraphs}" i18next="issues.graphs">Graphs</a>
        <a class="button tags-button" data-icon="f" ng-click="showTags = !showTags"
            ng-class="{'active': showTags}" i18next="issues.tags-button">Tags</a>
    </div>
    <div class="graph-box" ng-show="showGraphs">
        <div class="graph-container">
            <p i18next="issues.issues-by-status">Issues by status</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_status"></div>
        </div>
        <div class="graph-container">
            <p i18next="issues.issues-by-severity">Issues by severity</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_severity"></div>
        </div>
        <div class="graph-container">
            <p i18next="issues.issues-by-priority">Issues by priority</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_priority"></div>
        </div>
        <div class="graph-container">
            <p i18next="issues.issues-by-owner">Issues by owner</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_owner"></div>
        </div>
        <div class="graph-container">
            <p i18next="issues.issues-by-assigned-to">Issues by assigned to</p>
            <div class="graph" gm-issues-pie-graph="issuesStats.issues_per_assigned_to"></div>
        </div>
    </div>
    <div class="graph-box" ng-show="showGraphs">
        <div class="graph-container lines">
            <p i18next="issues.open-by-severity-progression">Open issues by severity progression</p>
            <div class="graph" gm-issues-accumulated-graph="issuesStats.last_four_weeks_days.by_severity"></div>
        </div>
        <div class="graph-container lines">
            <p i18next="issues.open-by-priority-progression">Open issues by priority progression</p>
            <div class="graph" gm-issues-accumulated-graph="issuesStats.last_four_weeks_days.by_priority"></div>
        </div>
    </div>
    <div class="graph-box" ng-show="showGraphs">
        <div class="graph-container lines">
            <p i18next="issues.open-closed-per-day">Open/Closed issues per day</p>
            <div class="graph" gm-issues-open-closed-graph="issuesStats.last_four_weeks_days.by_open_closed"></div>
        </div>
    </div>
    <div class="filters-container">
        <div class="filters-bar-sbox">
            <div class="title-sbox">
                <div class="title">
                    <a data-icon="B" href="" ng-class="{active: filtersOpened}"
                       ng-click="filtersOpened=!filtersOpened"
                       i18next="issues.filters">
                        Filters
                    </a>
                </div>

                <div class="tags-list-sbox">
                    <div class="tag selected" style="background: {{ tag.color }}" ng-repeat="tag in selectedTags"
                         ng-click="selectTag(tag)">
                        <div class="name"
                            ng-hide="tag.type == 'assigned_to' || tag.type == 'owner'">
                            {{ tag.name }}
                        </div>
                        <div class="name"
                            ng-show="tag.type == 'assigned_to' || tag.type == 'owner'"
                            gm-colorize-user="constants.users[tag.id]">
                            {{ tag.name }}
                        </div>
                        <div class="count">{{ tag.count }}</div>
                    </div>
                </div>
            </div>
            <ul class="filters-visual-box" ng-show="filtersOpened">
                <li ng-show='statusTags.length>1'>
                    <h3 i18next="issues.status">Status:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" style="background-color: {{ tag.color }}" ng-repeat="tag in statusTags"
                             ng-click="selectTag(tag)" ng-class="{selected: isTagSelected(tag)}">
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li ng-show='typeTags.length>1'>
                    <h3 i18next="issues.type">Type:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" style="background-color: {{ tag.color }}" ng-repeat="tag in typeTags"
                             ng-click="selectTag(tag)" ng-class="{selected: isTagSelected(tag)}" >
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li ng-show='severityTags.length>1'>
                    <h3 i18next="issues.severity">Severity:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" style="background-color: {{ tag.color }}" ng-repeat="tag in severityTags"
                             ng-click="selectTag(tag)" ng-class="{selected: isTagSelected(tag)}" >
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li ng-show='priorityTags.length>1'>
                    <h3 i18next="issues.priority">Priority:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" style="background-color: {{ tag.color }}" ng-repeat="tag in priorityTags"
                             ng-click="selectTag(tag)" ng-class="{selected: isTagSelected(tag)}">
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li ng-show='addedByTags.length>1'>
                    <h3 i18next="issues.added-by">Added by:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" ng-repeat="tag in addedByTags" ng-click="selectTag(tag)"
                                ng-class="{selected: isTagSelected(tag)}">
                            <div class="name" gm-colorize-user="constants.users[tag.id]">
                                {{ tag.name }}
                            </div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 i18next="issues.assigned-to">Assigned to:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" ng-repeat="tag in assignedToTags" ng-click="selectTag(tag)"
                                ng-class="{selected: isTagSelected(tag)}">
                            <div class="name" gm-colorize-user="constants.users[tag.id]">
                                {{ tag.name }}
                            </div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 i18next="issues.tags">Tags:</h3>
                    <div class="tags-list-sbox">
                        <div class="tag" ng-repeat="tag in tags" ng-click="selectTag(tag)"
                                ng-class="{selected: isTagSelected(tag)}" gm-colorize-tag>
                            <div class="name">{{ tag.name }}</div>
                            <div class="count">{{ tag.count }}</div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <div class="filters-selected-box"></div>
    </div>

    <div class="issues-container">
        <div class="issues-table-list">
            <div class="flex-header" gm-issues-sort="changeSort(field, reverse)">
                <div i18next="issues.severity-header" data-field="severity" class="issue-sortable-field issue-severity">Severity</div>
                <div i18next="issues.subject-header" data-field="subject" class="issue-sortable-field issue-title">Subject</div>
                <div i18next="issues.added-by-header" data-field="owner" class="issue-sortable-field issue-added-by">Added by</div>
                <div i18next="issues.created-date-header" data-field="created_date" class="issue-sortable-field issue-created-date">Created</div>
                <div i18next="issues.modified-date-header" data-field="modified_date" class="issue-sortable-field issue-modified-date">Modificated</div>
                <div i18next="issues.status-header" data-field="status" class="issue-sortable-field issue-state">Status</div>
                <div i18next="issues.priority-header" data-field="priority" class="issue-sortable-field issue-priority">Priority</div>
                <div i18next="issues.assigned-to-header" data-field="assigned_to" class="issue-sortable-field issue-assigned-to">Assigned to</div>

                <div i18next="issues.options" class="issue-options">Options</div>
            </div>
            <div class="flex-separator"></div>
            <div class="flex-body">
                <div class="empty" ng-show="issues.length == 0">
                    There aren't issues to show.
                </div>
                <div class="issue-item" ng-repeat="issue in issues" ng-dblclick="openIssue(projectSlug, issue.ref)">
                    <div class="issue-severity">
                        <a href="" gm-popover="updateIssueSeverity(issue, selectedId)"
                            data-tmpl="#severity-popover" data-auto-hide="true"
                                class="severity-{{ constants.severities[issue.severity].name|lowercase }}">
                            {{ constants.severities[issue.severity].name|lowercase }}
                        </a>
                    </div>
                    <div class="issue-title">
                        <a class="title" href="{{ urls.issuesUrl(projectSlug, issue.ref) }}">
                            #{{ issue.ref }} {{ issue.subject }}
                        </a>
                        <div class="tags" ng-show="showTags">
                            <span ng-repeat="tag in issue.tags" class="label" gm-colorize-tag>{{ tag }}</span>
                        </div>
                    </div>

                    <div class="issue-added-by">
                        <span gm-colorize-user="constants.users[issue.owner]">
                             {{ constants.users[issue.owner].full_name }}
                        </span>
                    </div>

                    <div class="issue-created-date">
                        <span>{{ issue.created_date|momentFormat:"lll" }}</span>
                    </div>

                    <div class="issue-modified-date">
                        <span>{{ issue.modified_date|momentFormat:"lll" }}</span>
                    </div>
                    <div class="issue-state">
                        <a href="" gm-popover="updateIssueStatus(issue, selectedId)"
                            data-tmpl="#status-popover" data-auto-hide="true">{{ constants.issueStatuses[issue.status].name }}</a>
                    </div>
                    <div class="issue-priority">
                        <a href="" gm-popover="updateIssuePriority(issue, selectedId)"
                            class="priority-{{ constants.priorities[issue.priority].name|lowercase }}"
                                    data-tmpl="#priority-popover" data-auto-hide="true">{{ constants.priorities[issue.priority].name }}</a>
                    </div>
                    <div class="issue-assigned-to">
                        <div class="button-item" ng-show="issue.assigned_to" >
                            <i class="icon-user"></i>
                            <a href="" gm-popover="updateIssueAssignation(issue, selectedId)" data-tmpl="#developers-popover" data-auto-hide="true">
                               <span gm-colorize-user="constants.users[issue.assigned_to]">
                                   {{ constants.users[issue.assigned_to].full_name }}
                               </span>
                            </a>
                        </div>
                        <div class="button-item" ng-show="!issue.assigned_to">
                            <i class="icon-question-sign"></i>
                            <a href="" gm-popover="updateIssueAssignation(issue, selectedId)" data-tmpl="#developers-popover" data-auto-hide="true">
                                <span i18next="issues.unassigned">Unassigned</span>
                            </a>
                        </div>
                    </div>
                    <div class="issue-options extra-options">
                        <a data-icon="l" class="btn-small-preview" gm-popover
                                data-tmpl="#issue-preview-popover"
                                data-auto-hide="true"
                                data-placement="left">
                            <span class="help-box" i18next="issues.preview">Preview</span>
                        </a>
                        <a data-icon="j" class="btn-small-edit" ng-click="openEditIssueForm(issue)">
                            <span class="help-box" i18next="issues.edit">Edit</span>
                        </a>
                        <a data-icon="h" class="btn-small-remove" gm-popover="removeIssue(issue)"
                                data-tmpl="#issue-remove-popover"
                                data-auto-hide="true"
                                data-placement="left">
                            <span class="help-box" i18next="issues.remove">Remove</span>
                        </a>
                    </div>
                </div>
            </div>
            <div gm-paginator></div>
        </div>
    </div>
</div>
<div ng-show="formOpened" ng-controller="IssuesModalController" gm-modal="issue-form">
    <div class="new-issue-modal modal">
        <form class="inline-form issue-form" gm-checksley-form="submit()">
            <div class="modal-header" ng-switch on="context.type">
                <h3 ng-switch-when="create" i18next="issues.create-issue">Create issue</h3>
                <h3 ng-switch-when="edit" i18next="issues.modify-issue">Modify issue</h3>
            </div>
            <div class="modal-body">
                <fieldset class="fieldset-row">
                    <label i18next="issues.form-subject">Subject</label>
                    <input name="subject" class="subject" type="text" data-required="true"
                        ng-model="form.subject" data-maxlength="500"></input>
                </fieldset>
                <div class="fieldset-row">
                    <fieldset class="type">
                        <label i18next="issues.form-type">Type</label>
                        <select name="type" ng-model="form.type" data-required="true"
                            data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.issueTypesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset class="priority">
                        <label i18next="issues.form-priority">Priority</label>
                        <select name="priority" ng-model="form.priority"
                            data-required="true" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.prioritiesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset class="severity">
                        <label i18next="issues.form-severity">Severity</label>
                        <select name="severity" ng-model="form.severity"
                            data-required="true" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.severitiesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset class="status">
                        <label i18next="issues.form-status">Status</label>
                        <select name="status" ng-model="form.status" data-required="true"
                            data-type="number" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.issueStatusesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset class="assigned-to">
                        <label i18next="issues.form-assigned-to">Assigned to</label>
                        <select name="assigned_to"
                                ng-model="form.assigned_to" data-type="number"
                                data-error-message="Required"
                                ng-options="c.user as c.full_name for c in project.memberships">
                            <option value="" i18next="issues.form-unassigned">Unassigned</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label i18next="issues.form-tags">Tags</label>
                        <input gm-select2-tags="projectTags" ng-model="form.tags"
                            data-placeholder="Pick tags"
                            i18next="data-placeholder:issues.form-tags-placeholder"
                            />
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label i18next="issues.form-description">Description</label>
                        <textarea name="description" class="description" ng-model="form.description" gm-markitup></textarea>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <ul class="attachments-items">
                            <li class="attachments-item"
                                ng-repeat="attachment in attachments">
                                <a class="delete" data-icon="h" href=""
                                   title="Delete the new attachment"
                                   i18next="title:issue.delete-new-attachment"
                                   ng-click="removeAttachment(attachment)"></a>
                                <span>{{ attachment.attached_file }}</span>
                                <span>[{{ attachment.size|sizeFormat }}]</span>
                            </li>
                        </ul>
                        <a class="add-attachment" data-icon="E" title="Add attachments"
                            gm-forward-click="#attachment_file_input" href=""
                            i18next="title:issue.add-attachments,issue.add-attachments">
                            Add attachments
                        </a>
                        <ul class="attachments-items">
                            <li class="attachments-item"
                                ng-repeat="attachment in newAttachments">
                                <a class="delete" data-icon="h" href=""
                                   title="Delete the new attachment"
                                   i18next="title:issue.delete-new-attachment"
                                   ng-click="removeNewAttachment(attachment)"></a>
                                <span>{{ attachment.name }}</span>
                                <span>[{{ attachment.size|sizeFormat }}]</span>
                            </li>
                        </ul>
                        <input type="file" class="hidden" name="newAttachments"
                               id="attachment_file_input" multiple="multiple"
                               gm-files="newAttachments"/>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <div gm-spinner class="spinner-container"></div>
                <input type="submit" gm-checksley-submit-button class="button button-success" value="Save"  i18next="value:issues.form-save"/>
                <a href="" class="button button-cancel" ng-click="close()" i18next="issues.form-close">Close</a>
            </div>
        </form>
    </div>
</div>

<script type="text/template" id="issue-preview-popover">
    <div class="issue-preview-popover">
        <section>
            <strong i18next="issues.id-popover">ID:</strong> #{{ issue.ref }}
        </section>
        <section>
            <strong i18next="issues.created-by-popover">Created by:</strong><br />
            <span gm-colorize-user="constants.users[issue.owner]">{{ constants.users[issue.owner].full_name }}</span>
        </section>
        <section>
            <strong i18next="issues.subject-popover">Subject:</strong><br />{{ issue.subject }}
        </section>
        <section>
            <strong i18next="issues.description-popover">Description:</strong>
            <div gm-render-markdown="issue.description"></div>
        </section>
    </div>
</script>

<script type="text/template" id="issue-remove-popover">
    <div class="issue-remove-popover">
        <section>
            <p ng-bind-html="'issues.issue-delete-sure'|i18next:{subject: issue.subject}"></p>
        </section>
        <section>
            <input type="button" class="button button-success" value="Delete" i18next="value:issues.delete-popover" />
            <input type="button" class="button button-delete" value="Cancel" i18next="value:issues.cancel-popover" />
        </section>
    </div>
</script>

<script type="text/template" id="developers-popover">
    <div class="developers-popover">
        <p class="title" i18next="issues.select-user-popover">Select a user:</p>
        <ul>
            <li><a class="btn-accept" href="" i18next="issues.unassigned-popover">Unassigned</a>
            <li ng-repeat="obj in project.memberships">
                <a class="btn-accept" href="" data-id="{{ obj.user }}"
                   gm-colorize-user="constants.users[obj.user]">{{ obj.full_name }}</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="severity-popover">
    <div class="severity-popover">
        <p class="title" i18next="issues.select-severity-popover">Select severity:</p>
        <ul>
            <li ng-repeat="obj in constants.severitiesList">
                <a class="btn-accept" data-id="{{ obj.id }}" href="">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="priority-popover">
    <div class="priority-popover">
        <p class="title" i18next="issues.select-priority-popover">Select priority:</p>
        <ul>
            <li ng-repeat="obj in constants.prioritiesList">
                <a href="" data-id="{{ obj.id }}" class="btn-accept">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="status-popover">
    <div class="status-popover">
        <p class="title" i18next="issues.select-status-popover">Select status:</p>
        <ul>
            <li ng-repeat="obj in constants.issueStatusesList">
                <a href="" data-id="{{ obj.id }}" class="btn-accept">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>
