<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container dashboard-content">
    <div class="row-fluid">
        <div class="span12">
            <div class="tasks-container">
                <div class="header">
                    <table>
                        <tbody>
                            <tr>
                                <td class="" ng-repeat="status in constants.usStatusesList|orderBy:'order'"
                                        style="width: {{ 100/(constants.usStatusesList.length+1) }}%; border-right-color: {{ status.color }}">
                                    <div class="badge" style="background-color: {{ status.color }};">{{ status.name }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="body">
                    <table>
                        <tbody>
                            <tr>
                                <td class="col-task-status col-task-{{ status.name|slugify }}"
                                        ng-repeat="status in constants.usStatusesList|orderBy:'order'"
                                        style="width: {{ 100/(constants.usStatusesList.length+1) }}%">

                                    <div class="tasks" gm-sortable=".tasks-container .body .tasks" ng-model="uss[status.id]">
                                        <div class="task-box" ng-repeat="us in uss[status.id]">
                                            <div ng-include="'/partials/kanban-us.html'"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="kanban-us-modalform"
        gm-modal="us-form"
        ng-show="formOpened"
        ng-controller="KanbanUsModalController">

    <div class="new-task-modal modal">
        <form class="inline-form task-form" gm-checksley-form="submit()">
            <div class="modal-header" ng-switch on="context.type">
                <h3 ng-switch-when="create" i18next="kanban.create-task">Create task</h3>
                <h3 ng-switch-when="edit" i18next="kanban.modify-task">Modify task</h3>
            </div>
            <div class="modal-body">
                <div class="fieldset-row">
                    <fieldset>
                        <label i18next="kanban.subject">Subject</label>
                        <input class="subject" type="text" name="subject" data-required="true"
                            data-error-message="Required"
                            ng-model="form.subject"></input>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label i18next="kanban.status">Status</label>
                        <select class="status" name="status" ng-model="form.status" data-required="true"
                            data-type="number" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.usStatusesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label i18next="kanban.assigned-to">Assigned to</label>
                        <select class="status" name="assigned_to" ng-model="form.assigned_to"
                                ng-options="c.user as c.full_name for c in project.active_memberships">
                            <option value="" i18next="task.unassigned">Unassigned</option>
                        </select>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label i18next="kanban.tags">Tags</label>
                        <input type="text" class="tags" name="tags" value="" ng-model="form.tags" gm-select2-tags="projectTags"></input>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label i18next="kanban.description">Description</label>
                        <textarea class="description" name="description" ng-model="form.description" gm-markitup preview-id="preview"></textarea>
                        <div id="preview"></div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <div gm-spinner class="spinner-container"></div>
                <input type="submit" class="button button-success" gm-checksley-submit-button value="Save"  i18next="value:kanban.save"/>
                <a href="" class="button button-cancel" ng-click="close()" i18next="kanban.close">Close</a>
            </div>
        </form>
    </div>
</div>

<script type="text/template" id="developers-popover">
    <div class="developers-popover">
        <h3 i18next="kanban.select-user">Select a user:</h3>
        <ul>
            <li class="btn-accept"><a data-id="" href="" i18next="kanban.unassigned">Unassigned</a>
            <li ng-repeat="obj in project.active_memberships" class="btn-accept" data-id="{{ obj.user }}">
                <a href="" gm-colorize-user="constants.users[obj.user]">{{ obj.full_name }}</a>
            </li>
        </ul>
    </div>
</script>
<script type="text/template" id="points-popover">
    <div class="us-points-popover">
        <ul>
            <li class="item btn-accept" ng-repeat="obj in constants.pointsList" data-id="{{ obj.id }}">
                <a href="">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>
