<div id="login">
    <div class="center-box">
        <div class="logo-box">
            <a href="">
                <img src="img/logo.png"></img>
            </a>
        </div>
        <div class="form-container">
            <form id="login-form" class="login-form" method="post" action="" ui-parsley="submit()">
                <fieldset class="form-field">
                    <label>Username: </label>
                    <input type="text" ng-model="form.username"
                        data-required="true" data-minlength="3"
                        placeholder="username..." />
                </fieldset>
                <fieldset class="form-field">
                    <label>Password</label>
                    <input type="password" ng-model="form.password"
                        data-required="true" data-minlength="6"
                        placeholder="password..." />
                </fieldset>

                <p class="forgot-pass">
                    <a href="#!/recovery">Forgot your password?</a>
                </p>

                <fieldset class="form-field clearfix">
                    <input class="btn01" type="submit" value="Login" />
                </fieldset>

                <!--
                NOT ACTIVE FOR THE MOMENT
                <p class="register">
                    <a id="open-forgotten-password-form" href="#!/register">Join to greenmine</a>
                </p>
                -->

                <!-- if success {.loading } else {.error} -->
                <div class="login-message">
                    <p class="loading" ng-show="!error && loading"><span class="loading-ico"></span>Our Oompa Loompas are identifying you, please wait...</p>
                    <p class="error" ng-show="error">Tu nombre de usuario o contraseña son incorrectos</p>
                </div>
            </form>
        </div>
    </div>
</div>
