<div id="login">
    <div class="center-box">
        <div class="logo-box">
            <a href="#/login">
                <img src="/img/logo.png"></img>
            </a>
        </div>
        <div class="form-container">
            <form id="login-form" class="login-form" method="post" action="" gm-checksley-form="ctrl.submit()">
                <fieldset class="form-field">
                    <label i18next="login.username-label">Username: </label>
                    <input type="text" ng-model="form.username"
                        data-required="true" data-minlength="3"
                        i18next="placeholder:login.username-placeholder"
                        placeholder="username..." />
                </fieldset>
                <fieldset class="form-field">
                    <label i18next="login.password-label">Password</label>
                    <input type="password" ng-model="form.password"
                        data-required="true" data-minlength="6"
                        placeholder="password..."
                        i18next="placeholder:login.password-placeholder" />
                </fieldset>

                <div class="">
                    <a class="forgot-pass" href="#/recovery" i18next="login.forgot-password">Forgot your password?</a>
                </div>

                <div class="" ng-show="site.data.public_register">
                    <a class="forgot-pass" href="#/register" i18next="login.join">Join Taiga</a>
                </div>

                <fieldset class="form-field clearfix">
                    <input class="btn01" type="submit" value="Login" gm-checksley-submit-button i18next="value:login.login"/>
                </fieldset>
                <div class="">
                    <a class="forgot-pass" href="" ng-click="ctrl.redirectToGitHubAuth()">Login with your GitHub Account</a>
                </div>


                <!-- if success {.loading } else {.error} -->
                <div class="login-message">
                    <p class="loading" ng-show="!error && loading">
                        <span class="loading-ico"></span>
                        <span i18next="login.loading">Our Oompa Loompas are identifying you, please wait...</span>
                    </p>
                    <p class="error" ng-show="error" i18next="login.error">
                        Your username or password are incorrect
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
