<header class="header-container" ng-include="'/partials/header.html'"></header>

<main class="project-admin-view">
    <ul class="tabs clearfix" ng-include="'/partials/includes/project-admin-header.html'"></ul>
    <div class="tab-container">
        <div class="sprint-list-container">
            <h3 data-icon="q" i18next="admin.created-sprints">Created sprints</h3>
            <ul class="sprint-list">
                <li class="sprint" ng-repeat="ml in milestones">
                    <a href="" data-icon="h" title="Delete sprint" i18next="title:admin.delete-sprint" ng-click="ctrl.deleteMilestone(ml)"></a>
                    {{ ml.name }}
                </li>
            </ul>
        </div>
    </div>
</main>
