<header class="header-container" ng-include="'/partials/header.html'"></header>

<main class="project-admin-view">

    <ul class="tabs clearfix">
        <li class="userstory-tab" ng-class="{active: isActive('data')}"
            ng-click="setActive('data')" i18next="admin.project-profile">
            Project profile
        </li>
        <li class="userstory-tab" ng-class="{active: isActive('values')}"
            ng-click="setActive('values')" i18next="admin.project-values">
            Project values
        </li>

        <li class="userstory-tab" ng-class="{active: isActive('sprints')}"
            ng-click="setActive('sprints')" i18next="admin.sprints">
            Sprints
        </li>
        <li class="userstory-tab" ng-class="{active: isActive('memberships')}"
            ng-click="setActive('memberships')" i18next="admin.memberships">
            Memberships
        </li>
    </ul>

    <div class="tab-container" ng-show="isActive('data')">
        <div class="update-form">
            <form class="form-horizontal" gm-checksley-form="submit()">

                <fieldset class="project-name">
                    <label class="control-label" for="name" i18next="admin.name">Name:</label>
                    <input type="text" id="name" name="name" ng-model="project.name" data-error-message="Required" />
                </fieldset>

                <fieldset class="project-slug">
                    <label for="slug" i18next="admin.slug">Slug:</label>
                    <input type="text" id="slug" name="slug" ng-model="project.slug" data-error-message="Required" />
                </fieldset>

                <fieldset class="project-total-milestones">
                    <label class="control-label" for="total_milestones" i18next="admin.num-of-sprints">Num. Sprints:</label>
                    <input type="text" id="total_milestones" name="total_milestones"
                        ng-model="project.total_milestones" data-error-message="Required" />
                </fieldset>

                <fieldset class="project-total-story-points">
                    <label for="slug" i18next="admin.total-story-points">Total story-points:</label>
                    <input type="text" id="total_story_points" name="total_story_points"
                        ng-model="project.total_story_points" data-error-message="Required" />
                </fieldset>

                <fieldset class="project-description">
                    <label for="description" i18next="admin.description">Description:</label>
                    <textarea id="description" name="description" ng-model="project.description"></textarea>
                </fieldset>

                <fieldset class="project-default-points">
                    <label for="default_points" i18next="admin.default-points">Default value for points selectors:</label>
                    <select id="default_points" name="default_points"
                            ng-model="project.default_points"
                            ng-options="c.id as c.name for c in constants.pointsList|orderBy:'order'">
                        <option value="">--------</option>
                    </select>
                </fieldset>

                <fieldset class="project-default-us-status">
                    <label for="default_us_status" i18next="admin.default-us-status">Default value for US status selectors:</label>
                    <select id="default_us_status" name="default_us_status"
                            ng-model="project.default_us_status"
                            ng-options="c.id as c.name for c in constants.usStatusesList|orderBy:'order'">
                        <option value="">--------</option>
                    </select>
                </fieldset>

                <fieldset class="project-default-task-status">
                    <label for="default_task_status" i18next="admin.default-task-status">Default value for task status selectors:</label>
                    <select id="default_task_status" name="default_task_status"
                            ng-model="project.default_task_status"
                            ng-options="c.id as c.name for c in constants.taskStatusesList|orderBy:'order'">
                        <option value="">--------</option>
                    </select>
                </fieldset>

                <fieldset class="project-default-priority">
                    <label for="default_priority" i18next="admin.default-priority">Default value for priority selectors:</label>
                    <select id="default_priority" name="default_priority"
                            ng-model="project.default_priority"
                            ng-options="c.id as c.name for c in constants.prioritiesList|orderBy:'order'">
                        <option value="">--------</option>
                    </select>
                </fieldset>

                <fieldset class="project-default-severity">
                    <label for="default_severity" i18next="admin.default-severity">Default value for severity selectors:</label>
                    <select id="default_severity" name="default_severity"
                            ng-model="project.default_severity"
                            ng-options="c.id as c.name for c in constants.severitiesList|orderBy:'order'">
                        <option value="">--------</option>
                    </select>
                </fieldset>

                <fieldset class="project-default-issue-type">
                    <label for="default_issue_type" i18next="admin.default-issue-type">Default value for issue type selectors:</label>
                    <select id="default_issue_type" name="default_issue_type"
                            ng-model="project.default_issue_type"
                            ng-options="c.id as c.name for c in constants.issueTypesList|orderBy:'order'">
                        <option value="">--------</option>
                    </select>
                </fieldset>

                <fieldset class="project-default-issue-status">
                    <label for="default_issue_status" i18next="admin.default-issue-status">Default value for issue status selectors:</label>
                    <select id="default_issue_status" name="default_issue_status"
                            ng-model="project.default_issue_status"
                            ng-options="c.id as c.name for c in constants.issueStatusesList|orderBy:'order'">
                        <option value="">--------</option>
                    </select>
                </fieldset>

                <fieldset class="project-submit">
                    <button type="submit" class="button button-edit" gm-checksley-submit-button i18next="admin.save">Save</button>
                </fieldset>

            </form>
        </div>
    </div>

    <div class="tab-container" ng-show="isActive('values')">
        <div class="project-values-container">
            <div class="value-container" ng-controller="UserStoryStatusesAdminController">
                <div class="header">
                    <p data-icon="y" class="title">US statuses</p>
                    <div class="buttons">
                        <a class="button btn-value btn-add" data-icon="A"
                                ng-click="openForm()" ng-hide="formOpened">
                            Add new US status</a>
                    </div>
                </div>
                <div class="value-list us-statuses-values">
                    <div class="flex-header">
                        <div class="item name">Name</div>
                        <div class="item is-closed">Is closed</div>
                        <div class="item color">Color</div>
                        <div class="options"></div>
                    </div>
                    <div class="flex-body us-statuses-sortables" gm-sortable=".us-statuses-sortables">
                        <form class="flex-row new-form" gm-sortable-index="{{$index}}" ng-show="formOpened"
                                gm-checksley-form="create()">
                            <fieldset class="item name">
                                <input type="text" name="name" ng-model="status.name"
                                       data-required="true" data-error-message="Required" />
                            </fieldset>
                            <fieldset class="item is-closed">
                                <input type="checkbox" name="is-closed" ng-model="status.is_closed"/>
                            </fieldset>
                            <fieldset class="item color">
                                <input type="text" name="color" ng-model="status.color"
                                        data-required="true" data-error-message="Required" />
                                <div class="color-sample" style="background-color: {{ status.color }}">
                                </div>
                            </fieldset>
                            <fieldset class="options">
                                <button class="btn-small btn-save" data-icon="z"
                                        gm-checksley-submit-button></button>
                                <button class="btn-small btn-cancel" data-icon="p"
                                        ng-click="closeForm()"></button>
                            </fieldset>
                        </form>
                        <div class="flex-row"  ng-repeat="status in userStoryStatuses"
                                gm-sortable-index="{{$index}}">
                            <div class="row-value" ng-controller="UserStoryStatusController">
                                <div class="data" ng-hide="formOpened">
                                    <div class="item name">{{ status.name }}</div>
                                    <div class="item is-closed">{{ status.is_closed }}</div>
                                    <div class="item color">
                                        <div class="color-sample"
                                                style="background-color: {{ status.color }}"></div>
                                    </div>
                                    <div class="options">
                                        <a class="btn-small btn-edit" data-icon="j"
                                                ng-click="openForm()"></a>
                                        <a class="btn-small btn-remove" data-icon="h"
                                                ng-click="delete(status)"></a>
                                    </div>
                                </div>
                                <form class="modify-form" ng-show="formOpened"
                                        gm-checksley-form="update(status)">
                                    <fieldset class="item name">
                                        <input type="text" name="name" ng-model="status.name"
                                               data-required="true" data-error-message="Required" />
                                    </fieldset>
                                    <fieldset class="item is-closed">
                                        <input type="checkbox" name="is-closed" ng-model="status.is_closed"/>
                                    </fieldset>
                                    <fieldset class="item color">
                                        <input type="text" name="color" ng-model="status.color"
                                                data-required="true" data-error-message="Required" />
                                        <div class="color-sample" style="background-color: {{ status.color }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="options">
                                        <button class="btn-small btn-save" data-icon="z"
                                                gm-checksley-submit-button></button>
                                        <button class="btn-small btn-cancel" data-icon="p"
                                                ng-click="closeForm(status)"></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="value-container" ng-controller="PointsAdminController">
                <div class="header">
                    <p data-icon="L" class="title">US Points</p>
                    <div class="buttons">
                        <a class="button btn-value btn-add" data-icon="A"
                                ng-click="openForm()" ng-hide="formOpened">
                            Add new US points</a>
                    </div>
                </div>
                <div class="value-list points-values">
                    <div class="flex-header">
                        <div class="item name">Name</div>
                        <div class="item value">Value</div>
                        <div class="options"></div>
                    </div>
                    <div class="flex-body project-points-sortables" gm-sortable=".project-points-sortables">
                        <form class="flex-row new-form" gm-sortable-index="{{$index}}" ng-show="formOpened"
                                gm-checksley-form="create()">
                            <fieldset class="item name">
                                <input type="text" name="name" ng-model="point.name"
                                        data-required="true" data-error-message="Required" />
                            </fieldset>
                            <fieldset class="item value">
                                <input type="text" name="is-closed" ng-model="point.value" />
                            </fieldset>
                            <fieldset class="options">
                                <button class="btn-small btn-save" data-icon="z"
                                        gm-checksley-submit-button></button>
                                <button class="btn-small btn-cancel" data-icon="p"
                                        ng-click="closeForm()"></button>
                            </fieldset>
                        </form>
                        <div class="flex-row" ng-repeat="point in points"
                                gm-sortable-index="{{$index}}">
                            <div class="row-value" ng-controller="PointsController">
                                <div class="data" ng-hide="formOpened">
                                    <div class="item name">{{ point.name }}</div>
                                    <div class="item value">{{ point.value }}</div>
                                    <div class="options">
                                        <a class="btn-small btn-edit" data-icon="j"
                                                ng-click="openForm()"></a>
                                        <a class="btn-small btn-remove" data-icon="h"
                                                ng-click="delete(point)"></a>
                                    </div>
                                </div>
                                <form class="modify-form" ng-show="formOpened"
                                        gm-checksley-form="update(point)">
                                    <fieldset class="item name">
                                        <input type="text" name="name" ng-model="point.name"
                                                data-required="true" data-error-message="Required" />
                                    </fieldset>
                                    <fieldset class="item value">
                                        <input type="text" name="is-closed" ng-model="point.value" />
                                    </fieldset>
                                    <fieldset class="options">
                                        <button class="btn-small btn-save" data-icon="z"
                                                gm-checksley-submit-button></button>
                                        <button class="btn-small btn-cancel" data-icon="p"
                                                ng-click="closeForm(point)"></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="value-container" ng-controller="TaskStatusesAdminController">
                <div class="header">
                    <p data-icon="y" class="title">Task Statuses</p>
                    <div class="buttons">
                        <a class="button btn-value btn-add" data-icon="A"
                                ng-click="openForm()" ng-hide="formOpened">
                            Add new task status</a>
                    </div>
                </div>
                <div class="value-list task-statuses-values">
                    <div class="flex-header">
                        <div class="item name">Name</div>
                        <div class="item is-closed">Is closed</div>
                        <div class="item color">Color</div>
                        <div class="options"></div>
                    </div>
                    <div class="flex-body task-statuses-sortables" gm-sortable=".task-statuses-sortables">
                        <form class="flex-row new-form" gm-sortable-index="{{$index}}" ng-show="formOpened"
                                gm-checksley-form="create()">
                            <fieldset class="item name">
                                <input type="text" name="name" ng-model="status.name"i
                                       data-required="true" data-error-message="Required" />
                            </fieldset>
                            <fieldset class="item is-closed">
                                <input type="checkbox" name="is-closed" ng-model="status.is_closed" />
                            </fieldset>
                            <fieldset class="item color">
                                <input type="text" name="color" ng-model="status.color"
                                       data-required="true" data-error-message="Required" />
                                <div class="color-sample" style="background-color: {{ status.color }}"></div>
                            </fieldset>
                            <fieldset class="options">
                                <button class="btn-small btn-save" data-icon="z"
                                        gm-checksley-submit-button></button>
                                <button class="btn-small btn-cancel" data-icon="p"
                                        ng-click="closeForm()"></button>
                            </fieldset>
                        </form>
                        <div class="flex-row" ng-repeat="status in taskStatuses"
                                gm-sortable-index="{{$index}}">
                            <div class="row-value" ng-controller="TaskStatusController">
                                <div class="data" ng-hide="formOpened">
                                    <div class="item name">{{ status.name }}</div>
                                    <div class="item is-closed">{{ status.is_closed }}</div>
                                    <div class="item color">
                                        <div class="color-sample" style="background-color: {{ status.color }}">
                                        </div>
                                    </div>
                                    <div class="options">
                                        <a class="btn-small btn-edit" data-icon="j"
                                                ng-click="openForm()"></a>
                                        <a class="btn-small btn-remove" data-icon="h"
                                                ng-click="delete(status)"></a>
                                    </div>
                                </div>
                                <form class="modify-form" ng-show="formOpened"
                                        gm-checksley-form="update(status)">
                                    <fieldset class="item name">
                                        <input type="text" name="name" ng-model="status.name"i
                                               data-required="true" data-error-message="Required" />
                                    </fieldset>
                                    <fieldset class="item is-closed">
                                        <input type="checkbox" name="is-closed" ng-model="status.is_closed" />
                                    </fieldset>
                                    <fieldset class="item color">
                                        <input type="text" name="color" ng-model="status.color"
                                               data-required="true" data-error-message="Required" />
                                        <div class="color-sample" style="background-color: {{ status.color }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="options">
                                        <button class="btn-small btn-save" data-icon="z"
                                                gm-checksley-submit-button></button>
                                        <button class="btn-small btn-cancel" data-icon="p"
                                                ng-click="closeForm(status)"></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="value-container" ng-controller="IssueStatusesAdminController">
                <div class="header">
                    <p data-icon="y" class="title">Issue statuses</p>
                    <div class="buttons">
                        <a class="button btn-value btn-add" data-icon="A"
                                ng-click="openForm()" ng-hide="formOpened">
                            Add new issue status</a>
                    </div>
                </div>
                <div class="value-list issue-statuses-values">
                    <div class="flex-header">
                        <div class="item name">Name</div>
                        <div class="item is-closed">Is closed</div>
                        <div class="item color">Color</div>
                        <div class="options"></div>
                    </div>
                    <div class="flex-body issue-statuses-sortables" gm-sortable=".issue-statuses-sortables">
                        <form class="flex-row new-form" gm-sortable-index="{{$index}}" ng-show="formOpened"
                                gm-checksley-form="create()">
                            <fieldset class="item name">
                                <input type="text" name="name" ng-model="status.name"
                                        data-required="true" data-error-message="Required" />
                            </fieldset>
                            <fieldset class="item is-closed">
                                <input type="checkbox" name="is-closed" ng-model="status.is_closed" />
                            </fieldset>
                            <fieldset class="item color">
                                <input type="text" name="color"ng-model="status.color"
                                        data-required="true" data-error-message="Required" />
                                <div class="color-sample" style="background-color: {{ status.color }}">
                                </div>
                            </fieldset>
                            <fieldset class="options">
                                <button class="btn-small btn-save" data-icon="z"
                                        gm-checksley-submit-button></button>
                                <button class="btn-small btn-cancel" data-icon="p"
                                        ng-click="closeForm()"></button>
                            </fieldset>
                        </form>
                        <div class="flex-row" ng-repeat="status in issueStatuses"
                                gm-sortable-index="{{$index}}">
                            <div class="row-value" ng-controller="IssueStatusController">
                                <div class="data" ng-hide="formOpened">
                                    <div class="item name">{{ status.name }}</div>
                                    <div class="item is-closed">{{ status.is_closed }}</div>
                                    <div class="item color">
                                        <div class="color-sample" style="background-color: {{ status.color }}">i
                                        </div>
                                    </div>
                                    <div class="options">
                                        <a class="btn-small btn-edit" data-icon="j"
                                                ng-click="openForm()"></a>
                                        <a class="btn-small btn-remove" data-icon="h"
                                                ng-click="delete(status)"></a>
                                    </div>
                                </div>
                                <form class="modify-form" ng-show="formOpened"
                                        gm-checksley-form="update(status)">
                                    <fieldset class="item name">
                                        <input type="text" name="name" ng-model="status.name"
                                                data-required="true" data-error-message="Required" />
                                    </fieldset>
                                    <fieldset class="item is-closed">
                                        <input type="checkbox" name="is-closed" ng-model="status.is_closed" />
                                    </fieldset>
                                    <fieldset class="item color">
                                        <input type="text" name="color"ng-model="status.color"
                                                data-required="true" data-error-message="Required" />
                                        <div class="color-sample" style="background-color: {{ status.color }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="options">
                                        <button class="btn-small btn-save" data-icon="z"
                                                gm-checksley-submit-button></button>
                                        <button class="btn-small btn-cancel" data-icon="p"
                                                ng-click="closeForm(status)"></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="value-container" ng-controller="IssueTypesAdminController">
                <div class="header">
                    <p data-icon="a" class="title">Issue types</p>
                    <div class="buttons">
                        <a class="button btn-value btn-add" data-icon="A"
                                ng-click="openForm()" ng-hide="formOpened">
                            Add new issue type</a>
                    </div>
                </div>
                <div class="value-list issue-types-values">
                    <div class="flex-header">
                        <div class="item name">Name</div>
                        <div class="item color">Color</div>
                        <div class="options"></div>
                    </div>
                    <div class="flex-body issue-types-sortables" gm-sortable=".issue-types-sortables">
                        <form class="flex-row new-form" gm-sortable-index="{{$index}}" ng-show="formOpened"
                                gm-checksley-form="create()">
                            <fieldset class="item name">
                                <input type="text" name="name" ng-model="type.name"
                                       data-required="true" data-error-message="Required" />
                            </fieldset>
                            <fieldset class="item color">
                                <input type="text" name="color" ng-model="type.color"
                                       data-required="true" data-error-message="Required" />
                                <div class="color-sample" style="background-color: {{ type.color }}">
                                </div>
                            </fieldset>
                            <fieldset class="options">
                                <button class="btn-small btn-save" data-icon="z"
                                        gm-checksley-submit-button></button>
                                <button class="btn-small btn-cancel" data-icon="p"
                                        ng-click="closeForm()"></button>
                            </fieldset>
                        </form>
                        <div class="flex-row" ng-repeat="type in issueTypes"
                                gm-sortable-index="{{$index}}">
                            <div class="row-value" ng-controller="IssueTypeController">
                                <div class="data" ng-hide="formOpened">
                                    <div class="item name">{{ type.name }}</div>
                                    <div class="item color">
                                        <div class="color-sample" style="background-color: {{ type.color }}">
                                        </div>
                                    </div>
                                    <div class="options">
                                        <a class="btn-small btn-edit" data-icon="j"
                                                ng-click="openForm()"></a>
                                        <a class="btn-small btn-remove" data-icon="h"
                                                ng-click="delete(type)"></a>
                                    </div>
                                </div>
                                <form class="modify-form" ng-show="formOpened"
                                        gm-checksley-form="update(type)">
                                    <fieldset class="item name">
                                        <input type="text" name="name" ng-model="type.name"
                                               data-required="true" data-error-message="Required" />
                                    </fieldset>
                                    <fieldset class="item color">
                                        <input type="text" name="color" ng-model="type.color"
                                               data-required="true" data-error-message="Required" />
                                        <div class="color-sample" style="background-color: {{ type.color }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="options">
                                        <button class="btn-small btn-save" data-icon="z"
                                                gm-checksley-submit-button></button>
                                        <button class="btn-small btn-cancel" data-icon="p"
                                                ng-click="closeForm(type)"></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="value-container" ng-controller="PrioritiesAdminController">
                <div class="header">
                    <p data-icon="o" class="title">Priorities</p>
                    <div class="buttons">
                        <a class="button btn-value btn-add" data-icon="A"
                                ng-click="openForm()" ng-hide="formOpened">
                            Add new priority</a>
                    </div>
                </div>
                <div class="value-list priorities-values">
                    <div class="flex-header">
                        <div class="item name">Name</div>
                        <div class="item color">Color</div>
                        <div class="options"></div>
                    </div>
                    <div class="flex-body priorities-sortables" gm-sortable=".priorities-sortables">
                        <form class="flex-row new-form" gm-sortable-index="{{$index}}" ng-show="formOpened"
                                gm-checksley-form="create()">
                            <fieldset class="item name">
                                <input type="text" name="name" ng-model="priority.name"
                                        data-required="true" data-error-message="Required" />
                            </fieldset>
                            <fieldset class="item color">
                                <input type="text" name="color" ng-model="priority.color"
                                        data-required="true" data-error-message="Required" />
                                <div class="color-sample" style="background-color: {{ priority.color }}">
                                </div>
                            </fieldset>
                            <fieldset class="options">
                                <button class="btn-small btn-save" data-icon="z"
                                        gm-checksley-submit-button></button>
                                <button class="btn-small btn-cancel" data-icon="p"
                                        ng-click="closeForm()"></button>
                            </fieldset>
                        </form>
                        <div class="flex-row" ng-repeat="priority in priorities"
                                gm-sortable-index="{{$index}}">
                            <div class="row-value" ng-controller="PriorityController">
                                <div class="data" ng-hide="formOpened">
                                    <div class="item name">{{ priority.name }}</div>
                                    <div class="item color">
                                        <div class="color-sample" style="background-color: {{ priority.color }}">
                                        </div>
                                    </div>
                                    <div class="options">
                                        <a class="btn-small btn-edit" data-icon="j"
                                                ng-click="openForm()"></a>
                                        <a class="btn-small btn-remove" data-icon="h"
                                                ng-click="delete(priority)"></a>
                                    </div>
                                </div>
                                <form class="modify-form" ng-show="formOpened"
                                        gm-checksley-form="update(priority)">
                                    <fieldset class="item name">
                                        <input type="text" name="name" ng-model="priority.name"
                                                data-required="true" data-error-message="Required" />
                                    </fieldset>
                                    <fieldset class="item color">
                                        <input type="text" name="color" ng-model="priority.color"
                                                data-required="true" data-error-message="Required" />
                                        <div class="color-sample" style="background-color: {{ priority.color }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="options">
                                        <button class="btn-small btn-save" data-icon="z"
                                                gm-checksley-submit-button></button>
                                        <button class="btn-small btn-cancel" data-icon="p"
                                                ng-click="closeForm(priority)"></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="value-container" ng-controller="SeveritiesAdminController">
                <div class="header">
                    <p data-icon="H" class="title">Severities</p>
                    <div class="buttons">
                        <a class="button btn-value btn-add" data-icon="A"
                                ng-click="openForm()" ng-hide="formOpened">
                            Add new severity</a>
                    </div>
                </div>
                <div class="value-list severities-values">
                    <div class="flex-header">
                        <div class="item name">Name</div>
                        <div class="item color">Color</div>
                        <div class="options"></div>
                    </div>
                    <div class="flex-body severities-sortables" gm-sortable=".severities-sortables">
                        <form class="flex-row new-form" gm-sortable-index="{{$index}}" ng-show="formOpened"
                                gm-checksley-form="create()">
                            <fieldset class="item name">
                                <input type="text" name="name" ng-model="severity.name"
                                        data-required="true" data-error-message="Required" />
                            </fieldset>
                            <fieldset class="item color">
                                <input type="text" name="color" ng-model="severity.color"
                                        data-required="true" data-error-message="Required" />
                                <div class="color-sample" style="background-color: {{ severity.color }}">
                                </div>
                            </fieldset>
                            <fieldset class="options">
                                <button class="btn-small btn-save" data-icon="z"
                                        gm-checksley-submit-button></button>
                                <button class="btn-small btn-cancel" data-icon="p"
                                        ng-click="closeForm()"></button>
                            </fieldset>
                        </form>
                        <div class="flex-row"  ng-repeat="severity in severities"
                                gm-sortable-index="{{$index}}">
                            <div class="row-value" ng-controller="SeverityController">
                                <div class="data" ng-hide="formOpened">
                                    <div class="item name">{{ severity.name }}</div>
                                    <div class="item color">
                                        <div class="color-sample" style="background-color: {{ severity.color }}">
                                        </div>
                                    </div>
                                    <div class="options">
                                        <a class="btn-small btn-edit" data-icon="j"
                                                ng-click="openForm()"></a>
                                        <a class="btn-small btn-remove" data-icon="h"
                                                ng-click="delete(severity)"></a>
                                    </div>
                                </div>
                                <form class="modify-form" ng-show="formOpened"
                                        gm-checksley-form="update(severity)">
                                    <fieldset class="item name">
                                        <input type="text" name="name" ng-model="severity.name"
                                                data-required="true" data-error-message="Required" />
                                    </fieldset>
                                    <fieldset class="item color">
                                        <input type="text" name="color" ng-model="severity.color"
                                                data-required="true" data-error-message="Required" />
                                        <div class="color-sample" style="background-color: {{ severity.color }}">
                                        </div>
                                    </fieldset>
                                    <fieldset class="options">
                                        <button class="btn-small btn-save" data-icon="z"
                                                gm-checksley-submit-button></button>
                                        <button class="btn-small btn-cancel" data-icon="p"
                                                ng-click="closeForm(severity)"></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-container" ng-show="isActive('sprints')">
        <div class="sprint-list-container">
            <h3 data-icon="q" i18next="admin.created-sprints">Created sprints</h3>
            <ul class="sprint-list">
                <li class="sprint" ng-repeat="ml in project.list_of_milestones">
                    <a href="" data-icon="h" title="Delete sprint" i18next="title:admin.delete-sprint" ng-click="deleteMilestone(ml)"></a>
                    {{ ml.name }}
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-container" ng-show="isActive('memberships')">
        <div class="project-members">
            <div class="project-members-options">
                <a href="" class="add-member" data-icon="A" title="Add member"
                    ng-click="toggleForm()" i18next="title:admin.add-member,admin.add-member">Add member</a>
            </div>
            <div class="invitation-form">
                <div class="add-member-form" ng-show="formOpened">
                    <h4 i18next="admin.add-new-member">Add new member</h4>
                    <form gm-checksley-form="submitMembership()">
                        <fieldset>
                            <label class="control-label" for="role" i18next="admin.role">Role</label>
                            <select id="role" name="role" ng-model="membership.role" data-required="true"
                                    ng-options="r.id as r.name for r in constants.rolesList|orderBy:'order'">
                            </select>
                        </fieldset>
                        <fieldset class="project-name">
                            <label class="control-label" for="email" i18next="admin.email">Email address</label>
                            <input type="text" id="email" ng-model="membership.email"
                                data-required="true" />
                        </fieldset>
                        <fieldset>
                            <button type="submit" class="button button-edit" gm-checksley-submit-button i18next="admin.add-member">Add member</button>
                            <button type="submit" class="button button-cancel" ng-click="closeForm()" i18next="admin.cancel">Cancel</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="project-members-list" >
                <table class="membership-list">
                    <thead>
                        <tr>
                            <th class="user" i18next="admin.full-name">Full name</td>
                            <th class="email" i18next="admin.email">Email</td>
                            <th class="role" i18next="admin.role">Role</th>
                            <th class="status" i18next="admin.status">Status</td>
                            <th class="options"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mbr in project.memberships">
                            <td class="user"><span class="user" gm-colorize-user="constants.users[mbr.user]">{{ memberName(mbr) }}</span></td>
                            <td class="email"><span class="email">{{ memberEmail(mbr) }}</span></td>
                            <td class="role"><span class="role">[<a href="" gm-popover="updateMemberRole(mbr, selectedId)" data-auto-hide="true"
                                        data-tmpl="#role-popover">{{ mbr.role_name }}</a>]</span></td>

                            <td class="status"><span class="status">{{ memberStatus(mbr) }}</span></td>
                            <td class="options">
                                <a href="" data-icon="h"  title="Delete Member" ng-click="deleteMember(mbr)" i18next="title:admin.delete-member"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <a class="button button-delete" ng-click="deleteProject()">Delete project</a>-->
</main>

<script type="text/template" id="role-popover">
    <div class="role-popover">
        <p class="title" i18next="admin.select-role">Select role:</p>
        <ul>
            <li ng-repeat="obj in constants.rolesList|orderBy:'order'">
                <a href="" data-id="{{ obj.id }}" class="btn-accept">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>
