<header class="header-container" ng-include="'/partials/header.html'"></header>

<main class="project-admin-view">
    <h2>{{ project.name }}</h2>
    <div class="sprint-list-container">
        <h3 data-icon="q">Created Sprints</h3>
        <ul class="sprint-list">
            <li class="sprint" ng-repeat="ml in project.list_of_milestones">
                <a href="" data-icon="h" title="Delete Milestone" ng-click="deleteMilestone(ml)"></a>
                {{ ml.name }}
            </li>
        </ul>
    </div>
    
    <div class="update-form">
        <h3 data-icon="f">Project data</h3>
        <form class="form-horizontal" gm-checksley-form="submit()">

            <fieldset class="project-name">
                <label class="control-label" for="name">Name</label>
                <input type="text" id="name" name="name" ng-model="project.name" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-slug">
                <label for="slug">Slug</label>
                <input type="text" id="slug" name="slug" ng-model="project.slug" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-total-milestones">
                <label class="control-label" for="total_milestones">Num. Sprints:</label>
                <input type="text" id="total_milestones" name="total_milestones"
                    ng-model="project.total_milestones" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-total-story-points">
                <label for="slug">Total story-points:</label>
                <input type="text" id="total_story_points" name="total_story_points"
                    ng-model="project.total_story_points" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-description">
                <label for="description">Description</label>
                <textarea id="description" name="description" ng-model="project.description"></textarea>
            </fieldset>

            <fieldset class="project-submit">
                <button type="submit" class="button button-edit" gm-checksley-submit-button>Save</button>
            </fieldset>

        </form>
    </div>
    <div class="project-members">
        <h3 data-icon="t">Project Members</h3>
        <a href="" class="add-member" data-icon="A" title="Add member" ng-click="addNewMember=!addNewMember">Add member</a>
        <div class="add-member-form" ng-show="addNewMember">
            <h4>Add new member</h4>
            <form action="" method="post">
                <fieldset class="project-name">
                    <label class="control-label" for="member">Member</label>
                    <select id="member">
                        <option>Member 1</option>
                        <option>Member 2</option>
                        <option>Member 3</option>
                        <option>Member 4</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label class="control-label" for="position">Positions</label>
                    <select id="position">
                        <option>Position 1</option>
                        <option>Position 2</option>
                        <option>Position 3</option>
                        <option>Position 4</option>
                    </select>
                </fieldset>
                <fieldset>
                    <button type="submit" class="button button-edit">Add member</button>
                    <button type="submit" class="button button-cancel" ng-click="addNewMember=false">Cancel</button>
                </fieldset>
            </form>
        </div>
        <ul class="members-list">
            <li class="member" ng-repeat="mbr in project.memberships">
                <a href="" data-icon="h" title="Delete Milestone" ng-click=""></a>
                {{ mbr.full_name }}
                <span>[{{ mbr.role_name }}]</span>
                <!-- TODO: Remove a member of a project
                <a data-icon="h" href="" ng-click="deleteMember(mbr.id)" title="Delete member"></a>
                -->
            </li>
        </ul>
    </div>
    <a class="button button-delete" ng-click="deleteCurrentProject()">Delete project</a>

</main>