<div class="header-container" ng-include="'/partials/header.html'"></div>
<div class="middle-container">
    <div class="main-box">
        <div class="project-list">
            <div class="list-container">
                <div class="list-item" ng-repeat="project in projects">
                    <div class="title">
                        <a href="{{ urls.backlogUrl(project.id) }}">{{ project.name }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="delete-project-dialog" style="display: none" title="Are you sure?">
        <p>Are you sure you want to delete this project?</p>
    </div>
</div>
