<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container">
    <div class="project-list">

        <div class="sidebar all-projects">
            <p class="projects-title">All projects</p>
            <ul>
                <li ng-hide="projects" class="empty">
                    You have not projects jet.
                </li>
                <li ng-repeat="project in projects">
                    <a href="{{ urls.backlogUrl(project.id) }}">{{ project.name }}</a>
                </li>
            </ul>
        </div>

        <div class="main projects-dashboard">
            <p class="projects-title">Recent projects</p>
            <ul class="latest-projects">
                <li ng-hide="projects" class="empty">
                    You have not recent projects jet.
                </li>
                <li class="list-item" ng-repeat="project in projects | limitTo:6 ">
                    <a class="project-{{ $index }}" href="{{ urls.backlogUrl(project.id) }}">{{ project.name }}</a>
                </li>
            </ul>

            <!--
            <div class="issues-container">
                <p class="projects-title">Current Issues</p>
                <div class="issues-table-list">
                    <div class="flex-header">
                        <div data-field="severity" class="issue-sortable-field issue-severity">Severity</div>
                        <div data-field="subject" class="issue-sortable-field issue-title">Subject</div>
                        <div data-field="priority" class="issue-sortable-field issue-priority">Priority</div>
                    </div>
                    <div class="flex-separator"></div>
                    <div class="flex-body">
                        <div class="issue-item">
                            <div class="issue-severity">
                                <a href="" data-auto-hide="true" class="severity-">
                                    High
                                </a>
                            </div>

                            <div class="issue-title">
                                <a href="" class="title">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                </a>
                            </div>

                            <div class="issue-priority">
                                <a href="" class="priority-">
                                     Critical
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>

    </div>

    <div class="delete-project-dialog" style="display: none" title="Are you sure?">
        <p>Are you sure you want to delete this project?</p>
    </div>
</div>
