<header class="header-container" ng-include="'/partials/header.html'"></header>

<main class="project-admin-view">
    <h2>{{ project.name }}</h2>
    <div class="sprint-list-container">
        <h3 data-icon="q">Created Sprints</h3>
        <ul class="sprint-list">
            <li class="sprint" ng-repeat="ml in project.list_of_milestones">
                <a href="" data-icon="h" title="Delete Milestone" ng-click="deleteMilestone(ml)"></a>
                {{ ml.name }}
            </li>
        </ul>
    </div>

    <div class="update-form">
        <h3 data-icon="f">Project data</h3>
        <form class="form-horizontal" gm-checksley-form="submit()">

            <fieldset class="project-name">
                <label class="control-label" for="name">Name</label>
                <input type="text" id="name" name="name" ng-model="project.name" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-slug">
                <label for="slug">Slug</label>
                <input type="text" id="slug" name="slug" ng-model="project.slug" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-total-milestones">
                <label class="control-label" for="total_milestones">Num. Sprints:</label>
                <input type="text" id="total_milestones" name="total_milestones"
                    ng-model="project.total_milestones" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-total-story-points">
                <label for="slug">Total story-points:</label>
                <input type="text" id="total_story_points" name="total_story_points"
                    ng-model="project.total_story_points" data-error-message="Required" />
            </fieldset>

            <fieldset class="project-description">
                <label for="description">Description</label>
                <textarea id="description" name="description" ng-model="project.description"></textarea>
            </fieldset>

            <fieldset class="project-submit">
                <button type="submit" class="button button-edit" gm-checksley-submit-button>Save</button>
            </fieldset>

        </form>
    </div>
    <div class="project-members" ng-controller="MembershipFormController">
        <h3 data-icon="t">Project Members</h3>
        <a href="" class="add-member" data-icon="A" title="Add member"
           ng-click="toggleForm()">Add member</a>
        <div class="add-member-form" ng-show="formOpened">
            <h4>Add new member</h4>
            <form gm-checksley-form="submit()">
                <fieldset>
                    <label class="control-label" for="role">Role</label>
                    <select id="role" name="role" ng-model="membership.role" data-required="true"
                            ng-options="r.id as r.name for r in constants.rolesList|orderBy:'order'">
                    </select>
                </fieldset>
                <fieldset class="project-name">
                    <label class="control-label" for="user">User</label>
                    <select id="user" name="user" ng-model="membership.user" data-required="true"
                            ng-options="u.id as u.full_name for u in noMemberUsersList|orderBy:'full_name'">
                    </select>
                </fieldset>
                <fieldset>
                    <button type="submit" class="button button-edit"  gm-checksley-submit-button>Add member</button>
                    <button type="submit" class="button button-cancel" ng-click="closeForm()">Cancel</button>
                </fieldset>
            </form>
        </div>
        <ul class="members-list" ng-controller="MembershipsController">
            <li class="member" ng-repeat="mbr in project.memberships">
                <a href="" data-icon="h"  title="Delete Member" ng-click="deleteMember(mbr)"></a>
                <span>[<a href="" gm-popover="updateMemberRole(mbr, selectedId)"
                          data-tmpl="#role-popover">{{ mbr.role_name }}</a>]</span>
                {{ mbr.full_name }}
            </li>
        </ul>
    </div>
    <a class="button button-delete" ng-click="deleteCurrentProject()">Delete project</a>
</main>
<script type="text/template" id="role-popover">
    <div class="role-popover">
        <p class="title">Select role:</p>
        <ul>
            <li ng-repeat="obj in constants.rolesList|orderBy:'order'">
                <a href="" data-id="{{ obj.id }}" class="btn-accept">{{ obj.name }}</a>
            </li>
        </ul>
    </div>
</script>
