<div id="login">
    <div class="center-box">
        <div class="logo-box">
            <a href="">
                <img src="img/logo.png"></img>
            </a>
        </div>
        <div class="form-container">
            <form id="forgotten-password-form" method="post" action="">
                <fieldset>
                    <div class="form-field">
                        <label>Your email</label>
                        <input type="email" ng-model="form.email" />
                    </div>
                    <div class="form-field">
                        <input class="btn01" type="submit" value="Remember" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
