<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container search-content">
    <div class="search-container">
        <div class="search-header">
            <p>Has buscado: <strong>{{ term }}</p>
        </div>

        <div class="search-results">
            <div class="results-issues" ng-show="results.issue">
                <h3>Issues:</h3>
                <ul class="result-list">
                    <li class="result-item" ng-repeat="item in results.issue">
                        <div class="title"><a href="">{{ item.stored_fields.title }}</a></div>
                        <div class="description">
                            {{ item.stored_fields.description|truncate:200 }}
                        </div>
                    </li>
                </ul>
            </div>

            <div class="results-issues" ng-show="results.userstory">
                <h3>User stories:</h3>
                <ul class="result-list">
                    <li class="result-item" ng-repeat="item in results.userstory">
                        <div class="title"><a href="">{{ item.stored_fields.title }}</a></div>
                        <div class="description">
                            {{ item.stored_fields.description|truncate:200 }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
