<div class="task-box-content" ng-controller="TaskboardTaskController">

    <div class="title">{{ task.subject }}</div>

    <div class="assign-to">
        <a href="" gm-popover="updateTaskAssignation(task, selectedId)"
            data-tmpl="#developers-popover" data-auto-hide="false"
            gm-colorize-user="constants.users[task.assigned_to]">
                {{ constants.users[task.assigned_to].full_name || t("taskboard.unassigned") }}</a>
    </div>
    <a ng-click="openEditTaskForm(task.us, task)" class="edit-task" i18next="taskboard.edit">Edit</a>
    <a href="{{ urls.tasksUrl(projectId, task.id) }}" class="view-task" i18next="taskboard.view">View</a>
</div>
