<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container tasks-view">
    <div class="view-header">
        <p class="title">Task #{{ task.ref }}</p>
        <div class="buttons">
            <a class="button button-delete">Delete task</a>
        </div>
    </div>
    <ul class="tags-list">
        <li class="tag" ng-repeat="tag in task.tags" gm-colorize-tag>{{ tag }}</li>
    </ul>
    <div class="row-fluid task-data">
        <div class="span8 task-data-description">
            <h2>{{ task.subject }}</h2>
            <p>{{ task.description }}</p>
            <div class="attachments" ng-show="attachments">
                <h3>Attachments</h3>
                <ul class="attachments-items">
                    <li class="attachments-item" ng-repeat="attachment in attachments">
                        <a href="{{ attachment.url }}">{{ attachment.attached_file }}</a> on
                            <span>{{ attachment.created_date|momentFormat:"MMMM Do YYYY, h:mm:ss a" }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span4 task-metadata">
            <div class="info-header">
                <h3>Issue data</h3>
            </div>
            <ul class="info-rows">
               <li>Added by: <span>{{ task.priority }}</span></li>
               <li>Assigned to: <span>{{ task.owner }}</span></li>
               <li>Date: <span>{{ task.modified_date }}</span></li>
               <li>Updated: <span>{{ task.modified_date }}</span></li>
               <li class="priority-{{ task.priority }}">Priority: <span>{{ task.priority }}</span></li>
               <li class="status-{{ task.status }}">Status: <span>{{ task.status }}</span></li>
               <li>Attachments: <span>{{ attachments.length }}</span></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid" ng-show="task.history">
        <div class="span12">
            <div class="history">
                <h3>History</h3>
                <div class="history-items-container" ng-model="task.history" gm-issue-history></div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="update-form">
                <h4>Update task</h4>

                <form class="form-horizontal" ui-parsley="save()">
                    <div>
                        <fieldset class="task-status">
                            <label class="control-label" for="inputEmail">Status</label>

                            <select class="status" name="status" ng-model="form.status" data-required="true"
                                data-type="number" data-error-message="Required"
                                ng-options="c.id as c.name for c in constants.statusList|orderBy:'order'"></select>
                            </select>
                        </fieldset>

                        <fieldset class="task-assigned">
                            <label>Assigned to</label>

                            <select class="assigned-to" name="priority" ng-model="form.assigned_to"
                                data-type="number" data-error-message="Required"
                                ng-options="c.id as c.username for c in constants.usersList|orderBy:'order'"></select>
                            </select>
                        </fieldset>
                    </div>

                    <div>
                        <fieldset class="task-tags">
                            <label>Tags</label>
                            <input type="text" name="status" value="" ng-model="form.tags" ui-select2></input>
                        </fieldset>
                    </div>

                    <div ng-hide="_showHiddenGroups">
                        <p style="cursor: pointer" ng-click="_showHiddenGroups=true">Edit <b>Subject</b> and <b>Description</b>...</p>
                    </div>

                    <fieldset class="task-subject" ng-show="_showHiddenGroups">
                        <label for="inputEmail">Subject</label>
                        <input type="text" ng-model="form.subject"></input>
                    </fieldset>

                    <fieldset class="task-description" ng-show="_showHiddenGroups">
                        <label for="inputEmail">Description</label>
                        <textarea ng-model="form.description"></textarea>
                    </fieldset>

                    <fieldset class="task-comment">
                        <label for="inputEmail">Comment</label>
                        <textarea ng-model="form.comment"></textarea>
                    </fieldset>

                    <fieldset class="task-attachment">
                        <label for="inputEmail">Attachment</label>
                        <input type="file" name="attachment" gm-file ng-model="attachment"></textarea>
                    </fieldset>

                    <fieldset class="task-edit-submit">
                        <button type="submit" class="button button-edit">Save</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="view-footer">
                <p class="title">Issue #{{ task.id }}</p>
                <div class="buttons">
                    <a class="button button-delete">Delete task</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/angular-template" id="change-template">
        <ul class="history-items">
            <li class="history-item" ng-repeat="hitem in historyItems">
                <div class="title">
                    <span class="updated">Updated by {{ hitem.by }}</span>
                    <span class="date">{{ hitem.modified_date }}</span>
                </div>
                <div class="changes">
                    <div class="change" ng-repeat="change in hitem.changes">
                        <strong>{{ change.name }}</strong>:
                        <span class="old">{{ change.old }}</span> &gt;
                        <span class="new">{{ change.new }}</span>
                    </div>
                </div>
                <div class="comment" ng-show="hitem.comment">
                    <strong>Comment:</strong><br />{{ hitem.comment }}
                </div>
            </li>
        </ul>
    </script>
</div>
