<div class="task-box-content" ng-controller="TaskboardTaskController">

    <div class="title">{{ task.subject }}</div>

    <div class="assign-to" style="border-color: #cc0000">
        <a href="" gm-popover="updateTaskAssignation(task, selectedId)"
            data-tmpl="#developers-popover" data-auto-hide="false">{{ resolveUser(task.assigned_to) }} {{ task.assigned_to }}</a>
    </div>
    <p class="desc">{{ task.description | truncate:60 }}</p>
    <a href="{{ urls.tasksUrl(projectId, task.id) }}" class="edit-task">Edit</a>
</div>
