<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container dashboard-content">
    <!-- Temporary hidden -->
    <div class="row-fluid first-row stats-row">
        <div class="span12">
            <div class="stats-container">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="graphics-box" gm-taskboard-graph></div>
                    </div>
                    <div class="span4">
                        <div class="information-box">
                            <div class="info-header">
                                <div class="progress-box">
                                    <div class="progress">
                                        <div class="bar" style="width: {{ stats.percentageCompletedPoints }}%"></div>
                                    </div>

                                    <div class="progress-indicator">{{ stats.percentageCompletedPoints }}%</div>
                                    <div class="help">completed<br />points</div>
                                </div>
                            </div>
                            <div class="info-rows">
                                <div class="row-item">
                                    <div class="row-label">Points</div>
                                    <div class="row-indicator">{{ stats.totalPoints }}</div>
                                    <div class="row-help">total <br />points</div>
                                    <div class="row-indicator">{{ stats.completedPoints }}</div>
                                    <div class="row-help">completed <br />points</div>
                                </div>

                                <div class="row-item">
                                    <div class="row-label">Tasks</div>
                                    <div class="row-indicator">{{ stats.totalTasks }}</div>
                                    <div class="row-help">total <br />tasks</div>
                                    <div class="row-indicator">{{ stats.completedTasks }}</div>
                                    <div class="row-help">completed <br />tasks</div>
                                </div>
                                <div class="row-item">
                                    <div class="row-label">Dates</div>
                                    <div class="row-indicator">{{ milestone.start_date|momentFormat:"L" }}</div>
                                    <div class="row-help">start<br />date</div>
                                    <div class="row-indicator">{{ milestone.end_date|momentFormat:"L" }}</div>
                                    <div class="row-help">end<br />date</div>
                                </div>
                                <!-- TODO: iocaine and labor force
                                <div class="row-item sprint-data">
                                    <div class="row-label">Data</div>
                                    <div class="iocaine-powder" data-icon="r">5 <span>iocaine doses</span></div>
                                    <div class="labor-force" data-icon="s">90% <span>labor force</span></div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="tasks-container">
                <div class="header">
                    <table>
                        <tbody>
                            <tr>
                                <td class="row-us-description" style="width: {{ 100/(constants.taskStatusesList.length+1) }}%"></td>
                                <td class="" ng-repeat="status in constants.taskStatusesList|orderBy:'order'"
                                        style="width: {{ 100/(constants.taskStatusesList.length+1) }}%; border-right-color: {{ status.color }}">
                                    <div class="badge" style="background-color: {{ status.color }};">{{ status.name }}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="body">
                    <table ng-repeat="us in userstoriesList">
                        <tbody>
                            <tr>
                                <td class="row-us-description" style="width: {{ 100/(constants.taskStatusesList.length+1) }}%">
                                    <div class="info">
                                        <div class="title clearfix">
                                            <a href="{{ urls.userStoryUrl(projectId, us.id) }}">{{ us.subject }}</a>
                                            <ul class="us-points-per-role">
                                                <li ng-repeat="role in constants.computableRolesList" class="us-point">
                                                    {{ role.name }}: {{ constants.points[us.points[role.id]].name }}
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="description">
                                            <p>{{ us.description|truncate:140 }}</p>
                                        </div>
                                    </div>
                                    <a href="" data-icon="A" class="add-new-task" ng-click="openCreateTaskForm(us)">Add new task</a>
                                </td>
                                <td class="col-task-status col-task-{{ status.name|slugify }}"
                                        ng-repeat="status in constants.taskStatusesList|orderBy:'order'"
                                        style="width: {{ 100/(constants.taskStatusesList.length+1) }}%">

                                    <div class="tasks" gm-sortable=".tasks-container .body .tasks" ng-model="usTasks[us.id][status.id]">
                                        <div class="task-box" ng-repeat="task in usTasks[us.id][status.id]">
                                            <div ng-include="'/partials/taskboard-task.html'"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                            <tr>
                                <td class="row-us-description unassigned-task" style="width: {{ 100/(constants.taskStatusesList.length+1) }}%">
                                    <div class="info">
                                        <div class="title">Unassigned Tasks</div>
                                        <div class="description"></div>
                                    </div>
                                    <a href="" data-icon="A" class="add-new-task" ng-click="openCreateTaskForm(us)">Add new task</a>
                                </td>
                                <td class="col-task-status col-task-{{ status.name|slugify }}"
                                        ng-repeat="status in constants.taskStatusesList|orderBy:'order'"
                                        style="width: {{ 100/(constants.taskStatusesList.length+1) }}%">

                                    <div class="tasks" gm-sortable=".tasks-container .body .tasks" ng-model="unassignedTasks[status.id]">
                                        <div class="task-box" ng-repeat="task in unassignedTasks[status.id]">
                                            <div ng-include="'/partials/taskboard-task.html'"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="taskboard-task-modalform"
        ng-show="formOpened"
        ng-controller="TaskboardTaskFormController">

    <div class="new-task-modal modal">
        <form class="inline-form task-form" gm-checksley-form="submit()">
            <div class="modal-header" ng-switch on="type">
                <h3 ng-switch-when="create">Create task</h3>
                <h3 ng-switch-when="edit">Modify task</h3>
            </div>
            <div class="modal-body">
                <div class="fieldset-row">
                    <fieldset>
                        <label>Subject</label>
                        <input class="subject" type="text" data-required="true"
                            data-error-message="Required"
                            ng-model="form.subject"></input>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label>Status</label>
                        <select class="status" name="status" ng-model="form.status" data-required="true"
                            data-type="number" data-error-message="Required"
                            ng-options="c.id as c.name for c in constants.taskStatusesList|orderBy:'order'"></select>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Assigned to</label>
                        <select class="status" name="assigned_to" ng-model="form.assigned_to"
                            data-type="number" data-error-message="Required"
                            ng-options="c.id as c.username for c in constants.usersList"></select>
                        </select>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label>Tags</label>
                        <input type="text" class="tags" name="status" value="" ng-model="form.tags" gm-tags-input></input>
                    </fieldset>
                </div>
                <div class="fieldset-row">
                    <fieldset>
                        <label>Description</label>
                        <textarea class="description" ng-model="form.description"></textarea>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="button button-success" gm-checksley-submit-button value="Save" />
                <a href="" class="button button-cancel" ng-click="close()">Close</a>
            </div>
        </form>
    </div>
</div>

<script type="text/template" id="developers-popover">
    <div class="developers-popover">
        <h3>Select a user:</h3>
        <ul>
            <li class="btn-accept"><a data-id="" href="">Unassigned</a>
            <li ng-repeat="obj in constants.usersList" class="btn-accept" data-id="{{ obj.id }}">
                <a href="">{{ obj.username }}</a>
            </li>
        </ul>
    </div>
</script>
