<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container tasks-view">
    <div class="view-header">
        <p class="title">User story #{{ userStory.ref }}</p>
        <div class="buttons">
            <a class="button button-delete" ng-click="removeUserStory(userStory)">
                Delete user story
            </a>
        </div>
    </div>

    <ul class="tags-list">
        <li class="tag" ng-repeat="tag in userStory.tags" gm-colorize-tag>{{ tag }}</li>
    </ul>

    <div class="row-fluid task-data">
        <div class="span8 task-data-description">
            <h2>{{ userStory.subject }}</h2>
            <p>{{ userStory.description }}</p>
            <div class="attachments" ng-show="attachments">
                <h3>Attachments</h3>
                <ul class="attachments-items">
                    <li class="attachments-item" ng-repeat="attachment in attachments">
                        <a class="delete" data-icon="h" href="" title="Delete attachment"
                           ng-click="removeAttachment(attachment)"></a>
                        <a href="{{ attachment.url }}">{{ attachment.attached_file }}</a>
                        <span>[{{ attachment.size|sizeFormat }}]</span>
                        <span>on {{ attachment.created_date|momentFormat:"LLLL" }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span4 task-metadata">
            <div class="info-header">
                <h3>User story data</h3>
            </div>
            <ul class="info-rows">
                <li>
                    Added by: <span>{{ constants.users[userStory.owner].full_name }}</span>
                </li>
                <li>
                    Created: <span>{{ userStory.created_date|momentFormat:"LLLL" }}</span>
                </li>
                <li>
                    Updated: <span>{{ userStory.modified_date|momentFormat:"LLLL" }}</span>
                </li>
                <li ng-show="userStory.finish_date">
                    Finished: <span>{{ userStory.finish_date|momentFormat:"LLLL" }}</span>
                </li>
                <li>
                    Client requirement: <span>{{ userStory.client_requirement }}</span>
                </li>
                <li>
                    Team requirement: <span>{{ userStory.team_requirement }}</span>
                </li>
                <li class="status-{{ userStory.status }}">
                    Status: <span>{{ constants.usStatuses[userStory.status].name }}</span>
                </li>
                <li>Points:
                    <span ng-repeat="role in constants.computableRolesList">
                        {{ role.name }}: {{ points[role.id] }},
                    </span>
                    Total: {{ totalPoints }}
                </li>
                <li>
                    Attachments: <span>{{ attachments.length }}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid" gm-history="userstory" ng-model="userStory.history">
        <div class="span12">
            <div class="history">
                <h3>History</h3>
                <div class="history-items-container"></div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="update-form">
                <h4>Update user story</h4>

                <form class="form-horizontal" gm-checksley-form="submit()">
                    <div>
                        <fieldset class="task-status">
                            <label class="control-label" for="inputEmail">Status</label>

                            <select class="status" name="status" ng-model="form.status"
                                    data-required="true"
                                    data-type="number" data-error-message="Required"
                                    ng-options="c.id as c.name for c in constants.usStatusesList|orderBy:'order'"></select>
                        </fieldset>

                        <fieldset class="task-tags">
                            <label>Tags</label>
                            <input type="text" name="status" value="" ng-model="form.tags"
                                   gm-tags-input></input>
                        </fieldset>
                    </div>

                    <div gm-role-points-edition></div>

                    <div ng-hide="_showHiddenGroups">
                        <p style="cursor: pointer" ng-click="_showHiddenGroups=true">
                            Edit <b>Subject</b> and <b>Description</b>...
                        </p>
                    </div>

                    <fieldset class="task-subject" ng-show="_showHiddenGroups">
                        <label for="inputEmail">Subject</label>
                        <input type="text" ng-model="form.subject"></input>
                    </fieldset>

                    <fieldset class="task-description" ng-show="_showHiddenGroups">
                        <label for="inputEmail">Description</label>
                        <textarea ng-model="form.description"></textarea>
                    </fieldset>

                    <fieldset class="task-comment">
                        <label for="inputEmail">Comment</label>
                        <textarea ng-model="form.comment"></textarea>
                    </fieldset>

                    <fieldset class="meta-requirement">
                        <input type="checkbox" id="client-requirement"
                               ng-model="form.client_requirement" name="client_requirement"/>
                        <label for="client-requirement">Client Requirement</label>
                        <input type="checkbox"id="team-requirement"
                               ng-model="form.team_requirement" name="team_requirement">
                        <label for="team-requirement" >Team Requirement</label>
                    </fieldset>

                    <fieldset class="task-attachment">
                        <a class="add-attachment" data-icon="E" title="Add attachments"
                            gm-forward-click="#attachment_file_input" href="">
                            Add attachments
                        </a>
                        <ul class="attachments-items">
                            <li class="attachments-item"
                                ng-repeat="attachment in newAttachments">
                                <a class="delete" data-icon="h" href=""
                                   title="Delete the new attachment"
                                   ng-click="removeNewAttachment(attachment)"></a>
                                <span>{{ attachment.name }}</span>
                                <span>[{{ attachment.size|sizeFormat }}]</span>
                            </li>
                        </ul>
                        <input type="file" class="hidden" name="newAttachments"
                               id="attachment_file_input" multiple="multiple"
                               gm-files="newAttachments"/>
                    </fieldset>


                    <fieldset class="task-edit-submit">
                        <button type="submit" class="button button-edit"
                                gm-checksley-submit-button>Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="view-footer">
                <p class="title">User story #{{ userStory.ref }}</p>
                <div class="buttons">
                    <a class="button button-delete">Delete user story</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/angular-template" id="change-template">
        <ul class="history-items">
            <li class="history-item" ng-repeat="hitem in historyItems">
                <div class="title">
                    <span class="updated">Updated by {{ hitem.by }}</span>
                    <span class="date">{{ hitem.modified_date }}</span>
                </div>
                <div class="changes">
                    <div class="change" ng-repeat="change in hitem.changes">
                        <strong>{{ change.name }}</strong>:
                        <span class="old">{{ change.old }}</span> &gt;
                        <span class="new">{{ change.new }}</span>
                    </div>
                </div>
                <div class="comment" ng-show="hitem.comment">
                    <strong>Comment:</strong><br />{{ hitem.comment }}
                </div>
            </li>
        </ul>
    </script>
</div>
