<div class="header-container container-fluid" ng-include="'partials/header.html'"></div>
<div class="middle-container container-fluid wiki">
    <div class="row-fluid" ng-show="page">
        <div class="span12">
            <div class="wiki-container" gm-render-markdown="page"></div>
        </div>
    </div>
    <div class="row-fluid" ng-hide="page">
        <div class="span12">
            <div class="wikiform-container">
                <textarea id="wiki" ng-model="pageContent" gm-markitup></textarea>
            </div>
        </div>
    </div>
</div>
