<div class="header-container container-fluid" ng-include="'partials/header.html'"></div>
<div class="middle-container container-fluid wiki">
    <div class="row-fluid" ng-show="!formOpened">
        <div class="span12">
            <div class="wiki-container" gm-render-markdown="content"></div>
            <div class="wiki-buttons">
                <a href="" class="edit" ng-click="openEditForm()">Edit</a>
                <a href="" class="delete" ng-click="">Delete</a>
            </div>
        </div>
    </div>
    <div class="row-fluid" ng-show="formOpened">
        <div class="span12">
            <div class="wikiform-container">
                <textarea id="wiki" ng-model="content" gm-markitup></textarea>
            </div>
            <div class="wiki-buttons">
                <a href="" class="edit" ng-click="savePage()">Save</a>
                <a href="" class="edit" ng-click="discartCurrentChanges()">Cancel</a>
            </div>
        </div>
    </div>
</div>
