<header class="header-container" ng-include="'/partials/header.html'"></header>
<div class="middle-container container-fluid wiki">
    <div class="row-fluid" ng-show="!formOpened">
        <div class="span12">
            <div class="wiki-container" gm-render-markdown="content"></div>
            <div class="attachments" ng-show="attachments">
                <h3 data-icon="E" i18next="wiki-historical.attachments">Attachments</h3>
                <ul class="attachments-items">
                    <li class="attachments-item" ng-repeat="attachment in attachments">
                        <a href="{{ attachment.url }}">{{ attachment.attached_file }}</a>
                        <span>[{{ attachment.size|sizeFormat }}]</span>
                        <!-- TODO: i18next integration pending -->
                        <span>on {{ attachment.created_date|momentFormat:"LLLL" }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="history">
                <h3 i18next="wiki-historical.history">History</h3>
                <div class="history-items-container">
                    <ul class="history-items">
                        <li class="history-item" ng-repeat="hitem in historical.models">
                            <div class="title">
                                <!-- TODO: i18next integration pending -->
                                <span class="updated">Updated by <span gm-colorize-user="constants.users[hitem.user]">{{ constants.users[hitem.user].full_name }}</span></span>
                                <span class="date">{{ hitem.created_date|momentFromNow }}</span>
                            </div>
                            <div class="changes">
                                <div class="change" gm-render-markdown="hitem.fields.content"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="more" data-icon="C" href="" ng-click="loadMoreHistorical()"
                   ng-show="showMoreHistoricaButton" i18next="wiki-historical.see-more">See more</a>
            </div>
        </div>
    </div>
</div>
