<!DOCTYPE html>
<html ng-app="taiga">
    <head>
        <meta charset="utf-8" />
        <title ng-bind="pageTitle">Taiga</title>
        <link href="/less/style.css?v=<%= stamp %>" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="/img/favicon.png" />
    </head>
    <body class="{{ pageSection }}">
        <div class="main" id="main">
            <div class="views" ng-view></div>
        </div>

        <!-- Main libraries -->
        <script src="/dist/libs.js?v=<%= stamp %>"></script>
        <script src="/dist/app.js?v=<%= stamp %>"></script>
    </body>
</html>
