<!DOCTYPE html>
<html ng-app="greenmine">
    <head>
        <meta charset="utf-8" />
        <title>{{ pageTitle }}</title>
        {%- if environment == "pro" %}
        <link href="less/greenmine.css" rel="stylesheet" type="text/css">
        {%- else %}
        <link rel="stylesheet/less" type="text/css" href="less/greenmine.less">
        <script src="js/lib/less-1.3.1.min.js"></script>
        {%- endif %}
    </head>
    <body class="login">
        <div class="main" id="main">
            <div class="views" ng-view></div>
        </div>

        <!-- Main libraries -->
        {%- if environment == "pro" %}
        <script src="js/min/main.js"></script>
        <script src="js/min/greenmine.js"></script>
        {%- else %}
        <!-- main.js -->
        <script src="js/lib/jquery-1.9.1.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/underscore.string.js"></script>
        <script src="js/lib/angular.js"></script>
        <script src="js/lib/bootstrap.js"></script>
        <script src="js/lib/moment.js"></script>
        <script src="js/lib/parsley.js"></script>
        <script src="js/lib/q.js"></script>
        <script src="js/lib/spin.js"></script>

        <!-- greenmine.js -->
        <script src="js/app/app.js"></script>
        <script src="js/app/utils.js"></script>
        <script src="js/app/services/common.js"></script>
        <script src="js/app/controllers/login.js"></script>
        <script src="js/app/directives/common.js"></script>
        {%- endif %}

        <!-- config.js -->
        <script src="js/config.js"></script>
    </body>
</html>
